<div class="current-mood">
  <div id="msj-face-changed-container">
    <div id="msj-face-changed" class="label label-info">
      <%= t('my_projects.mood.mood_updated') %>
    </div>
  </div>
  <br>
  <br>
  <% mood = @project.mood.status %>
  <div id="moodsTabContent" class="tab-content">
    <% (1..5).each do |m| %>
        <div class="tab-pane fade
          <% if mood == m %> in active
          <% end %>" id="mood<%= "#{m}" %>">
          <%= image_tag "moods/normal/" + "#{m}" + ".png", class: "img-rounded" %>
        </div>
    <% end %>
  </div>
  <br>
  <% if current_user.client? %>
      <ul id="moodsTab">
        <% (1..5).each do |m| %>
            <li class="moods_tab_element<%= " active" if mood == m %>"><a href="#mood<%= "#{m}" %>"
                                                                          class="change-mood-link"
                                                                          data-mood="<%= "#{m}" %>"
                                                                          rel="tooltip"
                                                                          data-url="<%= change_mood_path(@project,m) %>"
                 title="<%= t('my_projects.mood.update_mood') %>">
              <%= image_tag "moods/small/" + "#{m}" + ".png", class: "small_mood_img img-rounded" %></a></li>
        <% end %>
      </ul>
  <% end %>
</div>