<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h2><%= I18n.t('user_edit.CHOOSE_YOUR_PROFILE_SETTINGS')  %></h2>
  <div class="row-fluid">
    <div class="span4">
    </div>
    <div class="span6">
      <div>
        </br>

        <%= form_for(@profile, :html => {:id => "userpic_form",:class => "form-horizontal", :method => :put, :multipart => true}) do |f| %>

            <% if @profile.errors.any? || (!@user.nil? &&  @user.errors.any?)  %>
                <div class="alert alert-error">
                  <% if @profile.errors.any? %>
                      <% @profile.errors.full_messages.each do |msg| %>
                          <strong><%= msg %></strong>
                      <% end %>
                  <% end %>

                  <% if !@user.nil? &&  @user.errors.any? %>
                      <% @user.errors.full_messages.each do |msg| %>
                          <strong><%= msg %></strong>
                      <% end %>
                  <% end %>
                </div>
            <% end %>

            <div class="control-group">

              <label for="inputUsername"><%= I18n.t ('user_edit.Personal_data')  %></label>
              <%= fields_for @profile.user do |fa| %>
                  <div class="controls">
                    <%= I18n.t ('user_edit.Full_Name')  %>
                    </br>
                    <div class="input-prepend">
                      <%= fa.text_field :full_name %>
                    </div>
                  </div>

                  </br>

                  <div class="controls">
                    <%= I18n.t ('user_edit.Email')  %>
                    </br>
                    <div class="input-prepend">
                      <%= fa.text_field :email%>
                    </div>
                  </div>

                  </br>

                  <div class="controls">
                    OpenID:
                    </br>
                    <div class="input-prepend">
                      <%= fa.text_field :openidemail,:readonly => true, :id => "openidField" %>
                    </div>
                  </div>

                  <div class="controls">
                      <%= link_to "Load OpenID from Gmail's session".html_safe, user_omniauth_authorize_path(:google) %>
                  </div>

            <% end %>

              </br>

              <div class="controls">
                <%= I18n.t ('user_edit.Skype_User')  %>
                </br>
                <div class="input-prepend">
                  <%= f.text_field :skype_usr %>
                </div>
              </div>

            </div>

            <hr> </hr>

            <div class="control-group">

                <label for="inputUsername"><%= I18n.t ('user_edit.Notifications')  %></label>
                <div class="controls">
                  <%= I18n.t ('feedback.feedback')  %> &nbsp;
                  <div class="input-prepend">
                      <label class="checkbox">
                        <%= f.check_box :feedbacks_notifications %>
                      </label>
                    </div>
                </div>
                <div class="controls">
                  <%= I18n.t ('user_edit.Comments')  %> &nbsp;
                  <div class="input-prepend">
                      <label class="checkbox">
                        <%= f.check_box :comments_notifications %>
                      </label>
                    </div>
                </div>
            </div>

            <hr> </hr>


            <div class="control-group">

              <label for="inputUsername"><%= I18n.t ('user_edit.My_picture')  %></label>
                <% if @profile.avatar.file? && !@profile.show_gravatar %>
                    <div class="controls">
                        <%= image_tag @profile.avatar.url(:medium) %>
                    </div>
                    </br>


                <% else %>
                    <div class="controls">
                        <%= gravatar_image_tag( @profile.user.email.gsub('spam', 'mdeering'), :alt => @profile.user.full_name, :gravatar => { :size => 100 })  %>
                    </div>
                    </br>
                <% end %>

              <% if !@profile.show_gravatar %>
                  <div class="controls">
                    <%=f.file_field :avatar, :accept => "image/jpeg,image/png,image/gif" %>
                  </div>
              <% end %>
              </br>

              <% if @profile.avatar.file? %>
                  <div class="controls">
                    Use gravatar image &nbsp;
                    <div class="input-prepend">
                      <label class="checkbox">
                        <%= f.check_box :show_gravatar %>
                      </label>
                    </div>
                  </div>
              <% end %>


            </div>

            <hr> </hr>

            <div class="control-group">

              <label for="inputUsername"><%= I18n.t ('user_edit.My_proyect')  %></label>

              <div class="controls">
                <%= I18n.t ('user_edit.Default_Proyect')  %>
                </br>
                <div class="input-prepend">
                  <%= f.select(:project_id, Project.where(:client_id => @profile.user.client_id ).map {|project| [project.name, project.id]},:prompt => true) %>
                </div>
              </div>

            </div>

            <hr> </hr>

            <% if !@profile.user.mooveit? %>

                <div class="control-group">

                  <label for="inputUsername"><%= I18n.t ('user_edit.Change_Password')  %></label>

                  <%= fields_for @profile.user do |fa| %>

                      <div class="controls">
                        <%= I18n.t ('user_edit.Current_Password')  %>
                        </br>
                        <div class="input-prepend">
                          <%= fa.password_field :current_password %>
                        </div>
                      </div>

                      </br>

                      <div class="controls">
                        <%= I18n.t ('user_edit.New_Password')  %>

                        </br>
                        <div class="input-prepend">
                          <%= fa.password_field :password %>
                        </div>
                      </div>

                      </br>

                      <div class="controls">
                        <%= I18n.t ('user_edit.confirm_password')  %>
                        </br>
                        <div class="input-prepend">
                          <%= fa.password_field :password_confirmation %>
                        </div>
                      </div>
                  <% end %>
                </div>

                <hr> </hr>
            <% end %>

            <%=  f.submit I18n.t ('home.save_changes') %> <%= I18n.t ('home.or') %>
            <%=  link_to I18n.t ('home.cancel'), "/" %>

            <%= f.hidden_field :user_id %>
        <% end %>
      </div>
    </div>
    <div class="span2">
    </div>
  </div>
</div>