<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<h2><%= t('user_edit.choose_your_profile_settings')  %></h2>
<div class="row-fluid">
  <div class="span4">
  </div>
  <div class="span6">
    <div>
      <br>

      <%= form_for(@profile, :html => {:id => "userpic_form",:class => "form-horizontal", :method => :put, :multipart => true}) do |f| %>

          <% if @profile.errors.any? || (!@user.nil? &&  @user.errors.any?)  %>
              <div class="alert alert-error">
                <% if @profile.errors.any? %>
                    <% @profile.errors.messages.each do |msg| %>
                        <strong><%= msg[1][0] %></strong><br>
                    <% end %>
                <% end %>

                <% if !@user.nil? &&  @user.errors.any? %>
                    <% @user.errors.messages.each do |msg| %>
                        <strong><%= msg[1][0] %></strong><br>
                    <% end %>
                <% end %>
              </div>
          <% end %>


          <div class="control-group">

            <label for="inputUsername"><%= t('user_edit.personal_data')  %></label>
            <%= fields_for @profile.user do |fa| %>
                <div class="controls">
                  <%= t('user_edit.full_Name')  %>
                  <br>
                  <div class="input-prepend">
                    <%= fa.text_field :full_name %>
                  </div>
                </div>

                <br>

                <div class="controls">
                  <%= t('user_edit.email')  %>
                  <br>
                  <div class="input-prepend">
                    <%= fa.text_field :email%>
                  </div>
                </div>

                <br>

                <div class="controls">
                  OpenID:
                  <br>
                  <div class="input-prepend">
                    <%= fa.text_field :openidemail,:readonly => true, :id => "openidField" %>
                  </div>
                </div>

                <% if !@profile.user.mooveit? %>
                    <div class="controls">
                      <%= link_to t('user_edit.load_openid').html_safe, user_omniauth_authorize_path(:google) %>
                    </div>
                <% end %>

            <% end %>

            <br/>

            <div class="controls">
              <%= t('user_edit.skype_user')  %>
              <br/>
              <div class="input-prepend">
                <%= f.text_field :skype_usr %>
              </div>
            </div>

          </div>

          <hr>

          <div class="control-group">

            <label for="inputUsername"><%= t('user_edit.notifications')  %></label>
            <div class="controls">
              <div class="input-prepend">
                <label class="checkbox">
                  <%= t('user_edit.feedbacks')  %>&nbsp;<%= f.check_box :feedbacks_notifications %>
                </label>
              </div>
            </div>
            <div class="controls">
              <div class="input-prepend">
                <label class="checkbox">
                  <%= t('user_edit.comments')  %>&nbsp;<%= f.check_box :comments_notifications %>
                </label>
              </div>
            </div>
          </div>

          <hr>


          <div class="control-group">

            <label for="inputUsername"><%= t('user_edit.my_picture')  %></label>

            <%= render template:'profiles/avatar', :locals => { :profile => @profile } %>

            <div class="controls">
                  <%=f.file_field :avatar, :accept => "image/jpeg,image/png,image/gif" %>
            </div>

            <br/>

            <div class="controls">
                <div class="input-prepend">
                    <label class="checkbox">
                      <%= t('user_edit.gravatar')  %>&nbsp;<%= f.check_box :show_gravatar %>
                    </label>
                </div>
            </div>


          </div>

          <hr>

          <div class="control-group">

            <label for="inputUsername"><%= t('user_edit.my_projects')  %></label>

            <div class="controls">
              <%= t('user_edit.default_project')  %>
              <br>
              <div class="input-prepend">
                <%= f.select(:project_id, Project.where(:client_id => @profile.user.client_id ).map {|project| [project.name, project.id]},:prompt => true) %>
              </div>
            </div>

          </div>

          <hr>

          <% if !@profile.user.mooveit? %>

              <div class="control-group">

                <label for="inputUsername"><%= t('user_edit.change_password')  %></label>

                <%= fields_for @profile.user do |fa| %>

                    <div class="controls">
                      <%= t('user_edit.current_password')  %>
                      <br>
                      <div class="input-prepend">
                        <%= fa.password_field :current_password %>
                      </div>
                    </div>

                    <br>

                    <div class="controls">
                      <%= t('user_edit.new_password')  %>

                      <br>
                      <div class="input-prepend">
                        <%= fa.password_field :password %>
                      </div>
                    </div>

                    <br>

                    <div class="controls">
                      <%= t('user_edit.confirm_password')  %>
                      <br>
                      <div class="input-prepend">
                        <%= fa.password_field :password_confirmation %>
                      </div>
                    </div>
                <% end %>
              </div>

              <hr>
          <% end %>

          <%=  f.submit t('buttons.save_changes'),:class => "btn" %> <%= t('buttons.or') %>
          <%=  link_to t('buttons.cancel'), "/" %>

          <%= f.hidden_field :user_id %>
      <% end %>
    </div>
  </div>
  <div class="span2">
  </div>
</div>
</div>