<%= form_for(@milestone) do |f| %>

    <% if @milestone.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

          <ul>
            <% @milestone.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <input class="TextField" id="milestone_project_id" name="project_id" size="30" type="hidden" value="<%= @milestone.project_id %>"/>

    <div class="margin4">
      <%= f.label :name, :class => "Etiqueta" %>
      <%= f.text_field :name, :class => "NameText" %>
    </div>

    <div class="margin3">
      <%= f.label :target_date, :class => "Etiqueta" %>
      <%= f.date_select :target_date, :class => "target_nameDate" %>
    </div>

    <div class="margin4">
      <%= f.submit :Save %> or
      <button class="btn btn-link cancel-milestone-link" type="button" data-url="<%= project_milestones_path(:project_id => @milestone.project_id) %>"  >
        Cancel
      </button>
    </div>

<% end %>
