<div class="milestones_list">
  <h4><%= t('my_projects.data_tab.milestones') %></h4>

  <dl class="dl-horizontal">
    <% @milestones.each do |milestone| %>
        <% if milestone.target_date > Time.now.to_date %>
            <dt><%= get_milestone_date milestone.target_date %></dt>
            <dd>
              <%= milestone.name %>
              <!-- only admins can delete milestones -->
              <% if current_user.admin? %>
                  <%= link_to '', milestone, method: :delete, data: {confirm: 'Seguro que desea eliminar este hito?'}, class: 'icon-remove-circle' %>
              <% end %>
            </dd>
        <% else %>
            <dt class="muted"><%= get_milestone_date milestone.target_date %></dt>
            <dd class="muted">
              <%= milestone.name %>
              <!-- only admins can delete milestones -->
              <% if current_user.admin? %>
                  <%= link_to '', milestone, method: :delete, data: {confirm: 'Seguro que desea eliminar este hito?'}, class: 'icon-remove-circle' %>
              <% end %>
            </dd>
        <% end %>
    <% end %>
  </dl>
</div>






