<h2>CHOOSE YOUR PROFILE SETTINGS</h2>
<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
        <div>
          <br> <br>

          <!--< %= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal", :method => :put }) do |f| %>-->

          <%= form_for(@user, :url => registration_path(@user), :html => {:id => "userpic_form", :method => :put, :multipart => true}) do |f| %>

        <div class="control-group">

                <label class="control-label" for="inputUsername">Personal data:</label>

                <div class="controls">
                  Full Name:
                  <div class="input-prepend">
                    <%= f.text_field :full_name %>
                  </div>
                </div>

                <br> <br>

                <div class="controls">
                  Skype User:
                  <div class="input-prepend">
                    <%= f.text_field :email.to_s() %>
                  </div>
                </div>

              </div>

              <hr> <hr>

              <div class="control-group">

                <label class="control-label" for="inputUsername">My picture:</label>

                <%= gravatar_image_tag( @user.email.gsub('spam', 'mdeering'), :alt => @user.full_name)  %>

                <% if @user.avatar.nil? %>
                    <%= image_tag @user.avatar.url(:medium) %>
                <% end %>

                <%=f.file_field :avatar %>

              </div>

              <hr> <hr>

              <div class="control-group">

                <label class="control-label" for="inputUsername">My proyect:</label>

                <div class="controls">
                  Default Proyect:
                  <div class="input-prepend">

  <!--< %= f.select(:project_id, Project.all.map {|project| [project.name, project.id]},:prompt => true) %>
  < %= f.select(:role_id,Role.all.map {|role| [role.name, role.id]},:prompt => true) %>
      -->

                  </div>
                </div>

              </div>

              <hr> <hr>

              <div class="control-group">

                <label class="control-label" for="inputUsername">Change Password:</label>

                <div class="controls">
                  Current Password:
                  <div class="input-prepend">
                    <%= f.password_field :current_password %>
                  </div>
                </div>

                <br> <br>

                <div class="controls">
                  New Password:
                  <div class="input-prepend">
                    <%= f.password_field :password %>
                  </div>
                </div>

                <br> <br>

                <div class="controls">
                  Confirm New Password:
                  <div class="input-prepend">
                    <%= f.password_field :password_confirmation %>
                  </div>
                </div>

              </div>

              <hr> <hr>

              <%=  f.submit "Save Changes" %> or
              <%=  link_to "Cancel", :back %>

        <% end %>
        </div>
    </div>
    <div class="span2">
    </div>
  </div>
</div>
