<table class="comments_table">

  <% @feedback.comments.each do |comment| %>
      <tr id="row_comment_<%= comment.id %>">

        <td class="avatar">
          <% if current_user.profile.avatar.file? && !current_user.profile.show_gravatar %>
              <%= image_tag current_user.profile.avatar.url(:medium), :class => "user_image" %>
          <% else %>
              <%= gravatar_image_tag(current_user.profile.user.email.gsub('spam', 'mdeering'), :alt => current_user.profile.user.full_name, :class => "user_image") %>
          <% end %>
        </td>


        <td class="comment_info">
          <textarea readonly class="comment_content" rows="3"><%= comment.content %></textarea>
          <h6 class="comment_author"><%= t('feedback.create_by')+" " + comment.user.full_name + " "+t('feedback.date_on')+"   " + t("date."+"#{comment.created_at.strftime("%A")}")+ comment.created_at.strftime(" %d ")+ t("date."+"#{comment.created_at.strftime("%B")}") +comment.created_at.strftime(" %Y") %></h6>
        </td>

      </tr>
  <% end %>

  <tr id="row_comment_new">

    <td class="avatar">
      <% if current_user.profile.avatar.file? && !current_user.profile.show_gravatar %>
          <%= image_tag current_user.profile.avatar.url(:medium), :class => "user_image" %>
      <% else %>
          <%= gravatar_image_tag(current_user.profile.user.email.gsub('spam', 'mdeering'), :alt => current_user.profile.user.full_name, :class => "user_image") %>
      <% end %>
    </td>

    <td class="comment_info">
      <%= render partial: "comments/form" %>
    </td>

  </tr>

</table>