<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @comentario.Fecha %>
</p>

<p>
  <b>Contenido:</b>
  <%= @comentario.Contenido %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
