<br>
<br>

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="span3">
            <br>
            <div id="global_nav">
              <ul id="myTab" >
                <li class="summary active">
                  <a href="#summary" class="summary-link" data-url="<%= summary_path %>"><%= t('admin.summary')  %></a>
                </li>
                <li class="reports">
                  <a href="#reports" class="reports-link" data-url="<%= admin_reports_path %>"><%= I18n.t('admin.tabs.reports') %></a>
                </li>


                <li class="projects">
                  <a href="#projects" class="projects-link" data-url="<%= admin_projects_path %>"><%= t('admin.projects')  %></a>
                  <ul>
                    <li class="projects" hidden="true">
                      <a href="#projects" class="projects-link" data-url="<%= admin_projects_path %>"> <% t('admin.projects') %></a>
                    </li>
                    <li class="new-project" hidden="true">
                      <a href="#new-project"> <% t('admin.projects') %></a>
                    </li>
                    <li class="edit-project" hidden="true">
                      <a href="#edit-project"> <%= t('admin.projects')%></a>
                    </li>
                    <li class="show-project" hidden="true">
                      <a href="#show-project"> <% t('admin.projects') %></a>
                    </li>
                  </ul>
                </li>


                <li class="users">
                  <a href="#users" class="users-link" data-url="<%=users_path%>" ><%= t('admin.users')  %></a>
                  <ul>
                    <li class="users" hidden="true">
                      <a href="#users" class="users-link" data-url="<%=users_path%>"> <% t('admin.users') %></a>
                    </li>
                    <li class="new-user" hidden="true">
                      <a href="#new-user"> <% t('admin.new_users') %></a>
                    </li>
                    <li class="edit-user" hidden="true">
                      <a href="#edit-user"> <% t('admin.edit_users') %></a>
                    </li>
                    <li class="show-user" hidden="true">
                      <a href="#show-user"> <% t('show.users') %></a>
                    </li>
                  </ul>
                </li>


                <li class="clients">
                  <a href="#clients" class="clients-link " data-url="<%= admin_clients_path %>" ><%= I18n.t('admin.clients')  %></a>
                  <ul>
                    <li class="clients" hidden="true">
                      <a href="#clients"> <%= I18n.t('admin.clients')%></a>
                    </li>
                    <li class="edit_client" hidden="true">
                      <a href="#edit_client"> <%= I18n.t('admin.clients')%></a>
                    </li>
                    <li class="add_clients" hidden="true">
                      <a href="#add_clients"> <% t('admin.add_clients') %></a>
                    </li>
                    <li class="show_client" hidden="true">
                      <a href="#show_client"> <% t('admin.add_clients') %></a>
                    </li>
                  </ul>
                </li>

                <li class="forms">
                  <a href="#forms" data-toggle="tab" class="forms-link" data-url="<%= forms_path %>"><%= I18n.t('admin.tabs.forms')  %></a>
                </li>
                <li class="new-form" hidden="true">
                   <a href="#new-form"> <% t('form.add_form') %></a>
                </li>
                <li class="show-form" hidden="true">
                    <a href="#show-form"> <% t('admin.tabs.show_form') %></a>
                </li>


              </ul>
            </div>
         </div>
         <div class="span9">
            <div id="page">
              <div id="myTabContent" class="tab-content">

                <!-- page summary -->
                <div class="tab-pane fade active in" id="summary">

                  <%= render template: "activities/index" %>

                </div>
                <!--// page summary -->

                <div class="tab-pane fade" id="reports">
                  <!-- page header -->
                  <div class="page_header_wrapper">
                    <div class="page_header">
                      <h1><%= I18n.t ('admin.reports')  %></h1>
                    </div>
                  </div>
                  <div class="page_content" id="reports_data">

                  </div>
                </div>

                <div class="tab-pane fade" id="projects">
                  <!-- page header -->
                  <div class="page_header_wrapper">
                    <div class="page_header">
                      <h1><%= t('admin.projects')  %></h1>

                      <div class="add_element">
                        <a href="#new-project" class="btn btn-link new-user-link" data-url="<%=new_project_path%>">
                          <i class="icon-plus icon-white"> </i> <%= t('admin.tabs.new_project')%>
                        </a>
                      </div>

                    </div>
                  </div>
                  <!--// page header -->
                  <!-- page contents -->
                  <div class="page_content" id="projects-content">

                  </div>
                </div>

                <div class="tab-pane fade" id="users">
                  <!-- page header -->
                  <div class="page_header_wrapper">
                    <div class="page_header">
                        <h1><%= I18n.t ('admin.users')  %></h1>

                        <div class="add_element">
                            <a href="#new-user" class="btn btn-link new-user-link" data-url="<%=new_user_path%>">
                                <i class="icon-plus icon-white"> </i> <%= t('admin.tabs.new_user')%>
                            </a>
                        </div>

                    </div>
                  </div>
                  <!--// page header -->
                  <!-- page contents -->
                  <div class="page_content" id="users-content">


                  </div>
                </div>

                <div class="tab-pane fade" id="clients">
                  <!-- page header -->
                  <div class="page_header_wrapper">
                    <div class="page_header">
                      <h1><%= t ('admin.add_clients')  %></h1>



                      <div class="add_element">

                        <button class="btn btn-link new-form-link" data-url="<%= new_client_path %>">
                          <i class="icon-plus icon-white"> </i> <%= t('client.add_client')%>
                        </button>

                      </div>


                    </div>
                  </div>
                  <!--// page header -->
                  <!-- page contents -->
                  <div class="page_content" id="client_data">
                    <!-- main column -->
                    <!--// main column -->
                    <!--// page contents -->
                  </div>
                </div>

                <div class="tab-pane fade" id="add_clients">
                  <!-- page header -->
                  <div class="page_header_wrapper">
                    <div class="page_header">
                      <h1><%= t ('admin.add_clients')  %></h1>


                    </div>
                  </div>
                  <!--// page header -->
                  <!-- page contents -->
                  <div class="page_content" id="add_client_data">
                    <!-- main column -->
                    <!--// main column -->
                    <!--// page contents -->
                  </div>
                </div>

                <div class="tab-pane fade" id="edit_client">
                  <!-- page header -->

                </div>


                <div class="tab-pane fade" id="show_client">

                </div>

                <div class="tab-pane fade" id="forms">
                  <!-- page header -->
                  <div class="page_header_wrapper">
                    <div class="page_header">
                      <h1><%= I18n.t ('admin.forms')  %></h1>
                      <div class="add_element">
                        <button class="btn btn-link new-form-link" data-url="<%= new_form_path %>">
                          <i class="icon-plus icon-white"> </i> <%= t('form.add_form')%>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--// page header -->
                  <!-- page contents -->
                  <div class="page_content" id="forms-content">
                    <!-- main column -->
                    <!--// main column -->
                    <!--// page contents -->

                  </div>
                </div>

                <!-- page add form -->
                <div class="tab-pane fade" id="new-form">
                </div>

                <!-- page show form -->
                <div class="tab-pane fade" id="show-form">
                </div>


                  <!-- page new project -->
                  <div class="tab-pane fade" id="new-project">
                  </div>
                  <!--// page new project -->

                  <!-- page edit project -->
                  <div class="tab-pane fade" id="edit-project">
                  </div>
                  <!--// page edit project -->

                  <!-- page show project -->
                  <div class="tab-pane fade" id="show-project">
                  </div>
                  <!--// page show project -->





                <!-- page new user -->
                <div class="tab-pane fade" id="new-user">
                </div>
                <!--// page new user -->

                <!-- page edit user -->
                <div class="tab-pane fade" id="edit-user">
                </div>
                <!--// page edit user -->

                <!-- page show user -->
                <div class="tab-pane fade" id="show-user">
                </div>
                <!--// page show user -->


              </div>
            </div>
         </div>
    </div>
</div>
<br>
<br>




