<br>
<br>
<div class="container" xmlns="http://www.w3.org/1999/html">
<div class="row-fluid">
<div class="span3">
  <br>
  <div id="global_nav">
    <ul id="myTab">

      <!-- summary tabs -->
      <li class="summary active">
        <a href="#summary" class="summary-link" data-url="<%= summary_path %>"><%= t('admin.tabs.summary') %></a>
      </li>

      <!-- reports tabs -->
      <li class="reports">
        <a href="#reports" class="reports-link" data-url="<%= admin_reports_path %>"><%= t('admin.tabs.reports') %></a>
      </li>

      <!-- projects tabs -->
      <li class="projects">
        <a href="#projects" class="projects-link" data-url="<%= projects_path %>"><%= t('admin.tabs.projects') %></a>
        <ul>
          <li class="projects" hidden="true">
            <a href="#projects" class="projects-link" data-url="<%= projects_path %>">
              <% t('admin.tabs.projects') %>
            </a>
          </li>
          <li class="new-project" hidden="true">
            <a href="#new-project">
              <% t('admin.tabs.new_project') %>
            </a>
          </li>
          <li class="edit-project" hidden="true">
            <a href="#edit-project">
              <%= t('admin.tabs.edit_project') %>
            </a>
          </li>
        </ul>
      </li>

      <!-- users tabs -->
      <li class="users">
        <a href="#users" class="users-link" data-url="<%= users_path %>"><%= t('admin.users') %></a>
        <ul>
          <li class="users" hidden="true">
            <a href="#users" class="users-link" data-url="<%= users_path %>">
              <% t('admin.users') %>
            </a>
          </li>
          <li class="new-user" hidden="true">
            <a href="#new-user">
              <% t('admin.tabs.new_user') %>
            </a>
          </li>
          <li class="edit-user" hidden="true">
            <a href="#edit-user">
              <% t('admin.tabs.edit_user') %>
            </a>
          </li>
          <li class="show-user" hidden="true">
            <a href="#show-user">
              <% t('admin.tabs.show_user') %>
            </a>
          </li>
        </ul>
      </li>

      <!-- clients tabs -->
      <li class="clients">
        <a href="#clients" class="clients-link" data-url="<%= clients_path %>"><%= t('admin.tabs.clients') %></a>
        <ul>
          <li class="clients" hidden="true">
            <a href="#clients" class="clients-link" data-url="<%= clients_path %>">
              <%= t('admin.tabs.clients') %>
            </a>
          </li>
          <li class="show-client" hidden="true">
            <a href="#show-client">
              <% t('admin.tabs.show_client') %>
            </a>
          </li>
          <li class="new-client" hidden="true">
            <a href="#new-client">
              <% t('admin.tabs.new_client') %>
            </a>
          </li>
          <li class="edit-client" hidden="true">
            <a href="#edit-client"><%= t('admin.tabs.edit_client') %>
            </a>
          </li>
        </ul>
      </li>

      <!-- forms tabs -->
      <li class="forms">
        <a href="#forms" class="forms-link" data-url="<%= forms_path %>"><%= t('admin.tabs.forms') %></a>
        <ul>
          <li class="forms" hidden="true">
            <a href="#forms" class="forms-link" data-url="<%= forms_path %>"><%= t('admin.tabs.forms') %></a>
          </li>
          <li class="new-form" hidden="true">
            <a href="#new-form">
              <% t('form.add_form') %>
            </a>
          </li>
          <li class="show-form" hidden="true">
            <a href="#show-form">
              <% t('admin.tabs.show_form') %>
            </a>
          </li>
        </ul>
      </li>

      <!-- emails tabs -->
      <li class="emails">
        <a href="#emails" class="emails-link" data-url="<%= emails_config_path %>"><%= t('admin.tabs.emails') %></a>
      </li>

    </ul>
  </div>
</div>
<div class="span9">
  <div id="page">
    <div id="myTabContent" class="tab-content">

      <!-- SUMMARY TABS CONTENTS -->

      <!-- page summary -->
      <div class="tab-pane fade active in" id="summary">

        <%= render template: "activities/index" %>

      </div>

      <!-- REPORTS TABS CONTENT -->

      <!-- page reports -->
      <div class="tab-pane fade" id="reports">
      </div>

      <!-- PROJECTS TABS CONTENT -->

      <!-- page projects -->
      <div class="tab-pane fade" id="projects">
      </div>

      <!-- page new project -->
      <div class="tab-pane fade" id="new-project">
      </div>

      <!-- page edit project -->
      <div class="tab-pane fade" id="edit-project">
      </div>

      <!-- USERS TABS CONTENT -->

      <!-- page user -->
      <div class="tab-pane fade" id="users">
      </div>

      <!-- page new user -->
      <div class="tab-pane fade" id="new-user">
      </div>

      <!-- page edit user -->
      <div class="tab-pane fade" id="edit-user">
      </div>

      <!-- page show user -->
      <div class="tab-pane fade" id="show-user">
      </div>

      <!-- CLIENTS TABS CONTENT -->

      <div class="tab-pane fade" id="clients">
      </div>

      <div class="tab-pane fade" id="new-client">
      </div>

      <div class="tab-pane fade" id="edit-client">
      </div>

      <div class="tab-pane fade" id="show-client">
      </div>

      <!-- FORMS TABS CONTENT -->

      <div class="tab-pane fade" id="forms">
      </div>

      <!-- page add form -->
      <div class="tab-pane fade" id="new-form">
      </div>

      <!-- page show form -->
      <div class="tab-pane fade" id="show-form">
      </div>

      <!-- EMAILS TABS CONTENT -->

      <!-- page emails -->
      <div class="tab-pane fade" id="emails">
      </div>

    </div>
  </div>
</div>
</div>
</div>
<br>
<br>




