<div class="page_header">
  <h1><%= t('admin.tabs.new_user') %></h1>
</div>

<div class="page_content" id="new-user-content">


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="alert alert-error">
      <% if @user.errors.count > 1 %>
          <h4><%= t('activerecord.errors.template.header.other', :model => t('user.user'), :count => @user.errors.count) %></h4>
      <% else %>
          <h4><%= t('activerecord.errors.template.header.one', :model => t('user.user')) %></h4>
      <% end %>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><strong><%= msg %></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>

    <div class="field">
      <%= f.select(:client_id, Client.all.map {|client| [client.name, client.id]},:prompt => true) %>

    </div>


    <hr>

    <div><%= f.label :username %><br />
      <%= f.text_field :username %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>


    <hr>

    <div><%= f.label :email %><br />
    <%= f.text_field :email %></div>

    <div><%= f.label :openopenidemail  %><br />
      <%= f.text_field :openidemail %></div>


    <div class="controls">
      <%= t('user_edit.skype_user')  %>
      <br>
      <div class="input-prepend">
        <%=text_field_tag :skype_usr %>
      </div>
    </div>


    <div class="actions">
    <%= f.submit "Crear" %>   or
      <%=  link_to "Cancel", :back %>
  </div>
<% end %>

</div>
