<%= form_for(@client, :remote => true) do |f| %>

    <% if @client.errors.any? %>
        <div class="alert alert-error">
          <% if @client.errors.count > 1 %>
              <h4><%= t('activerecord.errors.template.header.other', :model => t('client.client'), :count => @client.errors.count) %></h4>
          <% else %>
              <h4><%= t('activerecord.errors.template.header.one', :model => t('client.client')) %></h4>
          <% end %>

          <ul>
            <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <br>

    <div class="client_name_field">
      <%= f.text_field :name, :placeholder => t('client.name_field') %>
    </div>

    <br>

    <%= f.submit t('buttons.create'), :class => "btn" %>
    <button class="btn btn-link clients-link" type="button" data-url="<%= clients_path %>">
      <%= t('buttons.cancel')%>
    </button>

<% end %>

