<div>
    <div class="" >
      <h5>
        <%= t('form.name_filter') %>
        &nbsp;
        <%= text_field_tag "form_name_filter" %>
        &nbsp;
        <%= button_tag( t('buttons.filter'), :id => "clients_filter_btn", :class => "btn") %>
      </h5>
    </div>



      <table>
        <% @clients.each do |client| %>
            <tr>
              <td>
                <h4 >
                  <a id="client_name" href="#show-client" class="show-client-link" data-url="<%= clients_show_path(client.id) %>"><%= client.name %></a>
                  <p class="client-resume">
                    <%= t('client.cout_project' , :count => client.projects.count.to_s) %></br>
                    <%= t('client.cout_users' , :count => client.users.count.to_s)   %>
                  </p>
                </h4>

              </td>
            </tr>

            </hr>
        <% end %>
      </table>

</div>