<div class="clients_index">

  <%= form_tag( clients_name_filter_path, :remote => true, :class => "form-horizontal") do %>
      <div class="control-group">

        <label class="control-label name-filter" for="inputUsername">
          <%= t('admin.filter_name') %>
        </label>

        <div class="controls">
          <div class="input-prepend">
            <%= text_field_tag :nameC %>
          </div>

          <div class="input-prepend">
            <%= button_tag(t('buttons.filter'), :class => "btn") %>
          </div>
        </div>

      </div>
  <% end %>

  <hr class="hr_clients_table">
  <table class="clients_table">
    <% @clients.each do |client| %>
        <tr>
          <td class="client_info">
            <h4 class="client_name"><a href="#show-client-<%= client.id.to_s %>" class="show-client-link" data-url="<%= clients_show_path(client.id) %>"><%= client.name %></a></h4>
            <h6 class="client_projects_count"><%= t('client.cout_project', :count => client.projects.count.to_s) %></h6>
            <h6 class="client_users_count"><%= t('client.cout_users', :count => client.users.count.to_s) %></h6>
          </td>
        </tr>
    <% end %>
  </table>

</div>