<div class="" xmlns="http://www.w3.org/1999/html">
  <h5>
    <%= t('form.name_filter') %>
    &nbsp;
    <%= text_field_tag "form_name_filter" %>
    &nbsp;
    <%= button_tag( t('buttons.filter'), :id => "clients_filter_btn", :class => "btn") %>
  </h5>
</div>


<div class='client_div'>
  <table class=''>
    <% @clients.each do |client| %>
        <tr>
          <td>
            <h4 id="client_name">
              <a href="#show-client" class="show-client-link" data-url="<%= clients_show_path(client.id) %>"><%= client.name %></a>
            </h4>
          </td>
        </tr>
        </br>
    <% end %>
  </table>
</div>






