<div class="clients_index">

  <div class="clients_filter form-inline">
    <h5 class="client_filter_element"><%= t('form.name_filter') %></h5>
    &nbsp;
    <%= text_field_tag "clients_name_filter" %>
    &nbsp;
    <%= button_tag(t('buttons.filter'), :class => "btn") %>
  </div>
  <hr class="hr_clients_table">
  <table class="clients_table">
    <% @clients.each do |client| %>
        <tr>
          <td class="client_info">
            <h4 class="client_name"><a href="#show-client-<%= client.id.to_s %>" class="show-client-link" data-url="<%= clients_show_path(client.id) %>"><%= client.name %></a></h4>
            <h6 class="client_projects_count"><%= t('client.cout_project', :count => client.projects.count.to_s) %></h6>
            <h6 class="client_users_count"><%= t('client.cout_users', :count => client.users.count.to_s) %></h6>
          </td>
        </tr>
    <% end %>
  </table>

</div>