<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.show_client') %></h1>
  <div class="loading-gif">
    <%= image_tag("ajax-loader.gif") %>
  </div>
  <div class="add_element">
    <button class="btn btn-link edit-client-link" data-url="<%= edit_client_path(@client) %>">
      <i class="icon-edit icon-white"> </i> <%= t('client.edit_client') %>
    </button>
  </div>

</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="show_client_data">

  <table class="client_table">
    <tr>
    <td class="avatar">
      <%= image_tag "client.png", :alt => "client_image", :class => "client_image" %>
    </td>
      <td class="client_info">
        <h4 class="client_name"><%= "#{t('client.client')} #{@client.name}" %></h4>
        <h6 class="client_data"><%= "#{t('client.created_date')}: " + get_client_date %></h6>
        <h6 class="client_data"><%= t('client.projects_count', :count => @client.projects.count.to_s) %></h6>
        <h6 class="client_data"><%= t('client.users_count', :count => @client.users.count.to_s) %></h6>
        <h6 class="client_data"><%= "#{t('client.mood_average', :count => @client.mood_average.to_s)}/5." %></h6>
      </td>
    </tr>
  </table>
  <br>
  <br>
  <h4><%= "#{t('client.associated_users')}: " %></h4>
  <% if @client.users.count > 0 %>

      <table class="table table-striped">

        <thead>
        <tr>
          <th><%= t('client.user_full_name') %></th>
          <th><%= t('client.user_email') %></th>
          <th><%= t('client.user_skype') %></th>
          <th><%= t('client.user_uploads') %></th>
        </tr>
        </thead>

        <% @client.users.each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.profile.skype_usr %></td>
              <td><%= "feedbacks: #{user.feedbacks.count}, comments: #{user.comments.count}" %></td>
            </tr>
        <% end %>
      </table>
  <% else %>
      <h5><%= t('client.no_users') %></h5>
  <% end %>

  <br>
  <h4><%= "#{t('client.associated_projects')}: " %></h4>
  <% if @client.projects.count > 0 %>

      <table class="table table-striped">

        <thead>
        <tr>
          <th><%= t('client.project_name') %></th>
          <th><%= t('client.project_mood') %></th>
          <th><%= t('client.project_feedbacks') %></th>
          <th><%= t('client.project_end_date') %></th>
        </tr>
        </thead>

        <% @client.projects.each do |project| %>
            <tr>
              <td><%= project.name %>
              <td><%= project.mood.status %></td>
              <td><%= "#{project.feedbacks.count}" %></td>
              <td><%=  get_project_end_date project  %></td>
              <td>
              </td>
            </tr>
        <% end %>
      </table>
  <% else %>
      <h5><%= t('client.no_projects') %></h5>
  <% end %>

  <br>
  <h4><%= "#{t('client.associated_forms')}: " %></h4>
  <% if @client.forms.count > 0 %>

      <table class="table table-striped">

        <thead>
        <tr>
          <th><%= t('client.form_name') %></th>
          <th><%= t('client.form_answers') %></th>
        </tr>
        </thead>

        <% @client.forms.each do |form| %>
            <tr>
              <td><a href="#show-form" class="show-form-link-alt" data-url="<%= form_path form %>" data-client="<%= @client.name %>"><%= form[:name] %></a></td>
              <td><%= form.actual_total_answers %></td>
              <td>
            </tr>
        <% end %>
      </table>
  <% else %>
      <h5><%= t('client.no_forms') %></h5>
  <% end %>
</div>
<!-- page contents -->