<br>
<br>
<br>
<br>
<div class="csm_info">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span8">

        <div class="row-fluid">

          <table class="biggest_face_table">
            <tr>
              <td class="biggest_face">
                <%= image_tag "csm_info/biggest_face.png", :class => "biggest_face_img" %>
              </td>
              <td class="biggest_face_text">
                <p>Quo no falli viris intellegam, ut fugit veritus placerat per. Ius id vidit volumus mandamus, vide
                  veritus democritum te nec, ei eos debet libris consulatu. No mei ferri graeco dicunt, ad cum veri
                  accommodare. Sed at malis omnesque delicata, usu et iusto zzril meliore. Dicunt maiorum eloquentiam
                  cum cu, sit summo dolor essent te. Ne quodsi nusquam legendos has, ea dicit voluptua eloquentiam pro,
                  ad sit quas qualisque. Eos vocibus deserunt quaestio ei. Blandit incorrupte quaerendum in quo, nibh
                  impedit id vis, vel no nullam semper audiam.</p>
              </td>
            </tr>
          </table>

        </div>

        <div class="row-fluid">

          <table class="medium_face_table">
            <tr>
              <td class="medium_face_text">
                <p>Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer
                  signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus
                  placerat per.</p>
              </td>
              <td class="medium_face">
                <%= image_tag "csm_info/medium_face.png", :class => "medium_face_img" %>
              </td>
            </tr>
          </table>

        </div>


        <div class="row-fluid">

          <table class="smaller_faces_table">
            <tr>
              <td class="smaller_faces">
                <%= image_tag "csm_info/smaller_faces.png", :class => "smaller_faces_img" %>
              </td>
              <td class="smaller_faces_text">
                <p>Consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut
                  fugit veritus placerat per.</p>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <div class="span2">
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="feedbacks_header">
    <div class="container">
      <div class="row-fluid">
        <div class="span2">
        </div>

        <div class="span8">
          <div class="feedbacks_text">feedbacks</div>
        </div>

        <div class="span2">
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span8">

          <table class="feedbacks_info_table">
            <thead>
            <tr>
              <th class="feedback_img">
                <%= image_tag "feedbacks/comment.png", :class => "feedback_img" %>
              </th>
              <th class="feedback_img">
                <%= image_tag "feedbacks/recognition.png", :class => "feedback_img" %>
              </th>
              <th class="feedback_img">
                <%= image_tag "feedbacks/skype.png", :class => "feedback_img" %>
              </th>
              <th class="feedback_img">
                <%= image_tag "feedbacks/email.png", :class => "feedback_img" %>
              </th>
            </tr>
            </thead>
            <tr>
              <td class="feedback_name">
                <h4 class="feedback_name">Comments</h4>
              </td>
              <td class="feedback_name">
                <h4 class="feedback_name">Recognitions</h4>
              </td>
              <td class="feedback_name">
                <h4 class="feedback_name">Skype conversations</h4>
              </td>
              <td class="feedback_name">
                <h4 class="feedback_name">Emails feedbacks</h4>
              </td>
            </tr>

            <tr>
              <td class="feedback_text">
                <p>Consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut
                  fugit veritus placerat per.</p>
              </td>
              <td class="feedback_text">
                <p>Consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut
                  fugit veritus placerat per.</p>
              </td>
              <td class="feedback_text">
                <p>Consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut
                  fugit veritus placerat per.</p>
              </td>
              <td class="feedback_text">
                <p>Consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut
                  fugit veritus placerat per.</p>
              </td>
            </tr>

          </table>
      </div>
  </div>
  </div>
</div>

<br>
<br>

<div id="footer">
</div>