<div id="home">
<% if user_signed_in? %>
    <% if current_user.role_id == 2 %>

        <!--<p>
        Vista de todas las caritas.
        Aquellas que pertenecen a los proyectos del cliente del usuario logueado se ven más grandes  y se les puede clickear
        </p>-->

        <div class="container">
          <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span10">
              <div class="homecenter">
                <h2><%=  I18n.t('mood.mood_of_our_customers')%></h2>
                <% count = 0 %>

                <% @projects = Project.all.shuffle %>
                <% @projects.each do |project| %>
                    <% mood = project.moods.order(:created_at).last %>

                    <% if project.client_id == current_user.client_id  %>
                        <div class="chomefacewrapperbig">
                          <a href="/my_projects?default=true&project_id=<%=project.id%>" class="chomefacebig" >
                            <%= image_tag('faces/big/' + mood.get_mood_img, :class => 'img-rounded')  %>
                            <p class="homeprojectnamev"><%= project.name %></p>
                          </a>
                        </div>
                    <% else %>
                        <div class="chomefacewrapper">
                          <div class="homeface" >
                            <%=image_tag('faces/normal/' + mood.get_mood_img, :class => 'img-rounded') %>
                            <p class="homeprojectnameh"><%= project.name %></p>
                          </div>
                        </div>
                    <% end %>


                    <% if count == 4 %>
                        <% count = 0 %>
                    <% else %>
                        <% count += 1 %>
                    <% end %>

                    <!-- < %= project.name  %> -->
                    <!--< %= mood.id  %>-->
                <% end %>
              </div>
              </br>
              </br>
              </br>
            </div>
            <div class="span1">
            </div>
          </div>
        </div>


    <% else %>

        <div class="container">
          <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span10">
              <div class="homecenter">
                <h2><%=  I18n.t('mood.mood_of_our_customers')%></h2>
                <% count = 0 %>
                <% @projects = Project.all.shuffle %>
                <% @projects.each do |project| %>
                    <% mood = project.moods.last! %>

                        <div class="ahomefacewrapper">
                          <a href="<%= project_path(project.id) %>?default=true" class="homeface" >
                            <%= image_tag('faces/normal/' + mood.get_mood_img, :class => 'img-rounded') %>
                            <p class="homeprojectnameh"><%= project.name %></p>
                          </a>
                        </div>

                    <!-- < %= project.name  %> -->
                    <!--< %= mood.id  %>-->
                <% end %>
              </div>
              </br>
              </br>
              </br>
            </div>
            <div class="span1">
            </div>
          </div>
        </div>

    <% end %>

<% else %>
    <br>
    <br>
       <br>
       <br>
    <div class="container">
      <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span8">
          <div class="vhomecenter">
            <div class="vheaderimage">
              <%= image_tag "faces/big/9.png" %>
            </div>
            <div class="vheader">
              <h2 ><%=  I18n.t('admin.customer_satisfaction_manager')%></h2>
              </br>
              <p>
                Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum
                liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.
              </p>
              <p>
                <a href="/" class="continue-reading">Continue reading...</a>
              </p>
            </div>
          </div>

          <div class="homecenter">
            <hr/>
            <div class="vhomeleft">
                <h2><%=  I18n.t('mood.mood_of_our_customers')%></h2>
            </div>

            <% @projects = Project.all.shuffle %>
            <% @projects.each do |project| %>
                <% mood = project.moods.last! %>

                <div class="vhomefacewrapper">
                  <div class="homeface" >
                    <%= image_tag('faces/normal/' + mood.get_mood_img, :class => 'img-rounded') %>
                    <p class="homeprojectnameh"><%= project.name %></p>
                  </div>
                </div>

            <% end %>
          </div>
          </br>
          </br>
          </br>
        </div>
        <div class="span2">
        </div>
      </div>
    </div>

<% end %>
</div>

<div id="footer">
  <div class="container"> </div>
</div>