<%= form_for(@project, :remote => true) do |f| %>

    <% if @project.errors.any? %>
        <div class="alert alert-error">
          <% if @project.errors.count > 1 %>
              <h4><%= t('activerecord.errors.template.header.other', :model=> @project.class.name, :count=> @project.errors.count) %></h4>
          <% else %>
              <h4><%= t('activerecord.errors.template.header.one',:model=> @project.class.name) %></h4>
          <% end %>
          <% @project.errors.full_messages.each do |msg| %>
              <strong><%= msg %></strong>
          <% end %>
        </div>
    <% end %>

        <br/>
      <div class="project-client">
          <%= f.label :client %><br />
          <%= f.select(:client_id,Client.all.map {|client| [client.name, client.id]},:prompt => true) %>
      </div>
        <br/>
        <div class="project-description">
          <%= f.text_field :description, :placeholder => I18n.t('proyect.description') %>
        </div>
      <div class="project-date">
        <%= f.label :end_date %><br />
        <%= f.date_select :end_date %>
      </div>
        <br/>
        <div class="project-name">
          <%= f.text_field :name,  :placeholder => I18n.t('proyect.name') %>
        </div>
      <!--<div class="field">
        < %= f.label :status %><br />
        < %= f.text_field :status %>
      </div>-->
        <%= f.submit  I18n.t('buttons.create'), :class => "btn" %> &nbsp <%= I18n.t('buttons.or') %>
        <button class="btn btn-link projects-link" type="button" data-url="<%= admin_projects_path %>">
          <%= I18n.t('buttons.cancel')%>
        </button>
<% end %>
