
<div class="projects_div">

  </br>
  <%= form_tag(projects_name_filter_path, :remote => true, :class => "form-horizontal" ) do %>
      <div class="control-group">

        <label class="control-label name-filter" for="inputProjectname">
          <%= t('admin.filter_name')%>
        </label>

        <div class="controls">
          <div class="input-prepend">
            <%= text_field_tag :name %>
          </div>

          <div class="input-prepend">
            <%= button_tag( t('buttons.filter'), :class => "btn") %>
          </div>
        </div>

      </div>
  <% end %>
  </br>
  <hr>


  </br>
  <% @projects.each do |project| %>
      <div id="row">

        <% mood = project.mood %>
        <div class="project-mood">
          <%= link_to image_tag('moods/normal/' + mood.get_mood_img, :class => 'img-rounded'), change_profile_project_path(project), :class => "my-project-link" %>
        </div>

        <div class="project-name">

          <%= link_to project.name, change_profile_project_path(project), :class => "my-project-link" %>
          /

          <a href="#edit-project" class="btn btn-link edit-project-link" data-url="<%=edit_project_path  project %>">
            <%= t('admin.tabs.edit_project')%>
          </a>

          <h6 class="project-client">
                <%= t('admin.client') %>: <%= project.client.name %>
          </h6>

          <% @description = project.description %>
          <% if !@description.nil? %>
              <pre><%= @description.truncate 200 %></pre>
              <p class="project-feedback-date">
              <% @last_feedback = project.feedbacks.order('created_at').first %>
              <% if @last_feedback != nil %>
                  <h6><%= t('proyect.last_feedback_made_by') + " " + @last_feedback.user.full_name + ", " + t("date." + "#{@last_feedback.created_at.strftime("%A")}") + @last_feedback.created_at.strftime(" %d ") + t("date." + "#{@last_feedback.created_at.strftime("%B")}") + @last_feedback.created_at.strftime(" %Y") %></h6>
              <% else %>
                  <h6><%= t('proyect.no_feedbacks') %></h6>
              <% end %>
              </p>
          <% end %>

        </div>

      </div>
      <hr>
  <% end %>
</div>





