<!-- page header -->
<div class="page_header">
  <h1><%= t('admin.tabs.projects') %></h1>
  <div class="add_element">
    <button class="btn btn-link new-project-link" data-url="<%= new_project_path %>">
      <i class="icon-plus icon-white"> </i> <%= t('admin.tabs.new_project') %>
    </button>
  </div>
</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="projects-content">

  <%= form_tag(projects_text_filter_path, :method => "get", :remote => true) do %>
      <div class="projects_filter form-inline">
        <h5 class="filter_element"><%= t('project.enter_text') %></h5>
        &nbsp;
        <%= text_field_tag "projects_filter_text", @last_filter_text %>
        &nbsp;
        <%= button_tag(t('buttons.find'), :class => "btn") %>
      </div>
  <% end %>

  <hr class="hr_filter">

  <div id="projects_search_result">
    <table class="projects_table">
      <% @projects.each do |project| %>
          <tr id="row_project_<%= project.id %>">

            <td class="avatar">
              <%= link_to change_profile_project_path(project) do %>
                  <%= image_tag 'moods/normal/' + project.mood.get_mood_img, :alt => "project_mood",
                                :class => 'mood_image' %>
              <% end %>
            </td>

            <td class="project_info">
              <h4 class="project_name">
                <%= link_to change_profile_project_path(project) do %>
                    <%= truncate(strip_tags(project.name), :length => 80) %>
                <% end %>
                <button class="btn btn-link edit-project-link" data-url="<%= edit_project_path(project) %>">
                  <i class="icon-pencil icon-white"></i> <%= t('admin.tabs.edit_project') %>
                </button>
              </h4>

              <h6 class="project_client"><%= "#{t('project.client')}: #{project.client.name}" %></h6>
              <pre class="project_description"><%= truncate(strip_tags(project.description), :length => 180) %></pre>
              <h6 class="project_last_feedback"><%= get_project_last_feedback_date project %></h6>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>


