
<script>
    $('a[data-toggle="tab"]').on('shown', function (e) {
        e.target // activated tab
        e.relatedTarget // previous tab
    })

    $("#load-more").bind("ajax:complete", function(et, e){
        $("#products-list").html(e.responseText); // insert content
    });

    $("#load-more").bind("ajax:loading", function(et, e){
        $(this).html("Loading..."); // swap link text
    });

    function activate(me)
    {
        $('.active').each(function(){$(this).removeClass('active');});
        $(me).addClass('active');
    }

    $('#datepicker').datepicker();

</script>






<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row-fluid">

    <div id="breadcrumbs-wrapper">
      <div class="container">
        <ul class="nav nav-pills" style="margin-bottom: 0px;">
          <li class="dropdown">
            <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
              <b class="caret"></b>
              <i class="icon-book"></i>
              <%= @project.name %>
            </a>
            <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
              <% Project.where(:client_id => @project.client_id).order(:name).each do |proj| %>
                  <% if proj.id != @project.id %>
                      <li>
                        <%= link_to proj.name, {:controller => "projects", :action => "change_profile_project", :id => proj.id} %>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </li>
        </ul> <!-- /tabs -->
      </div>
    </div>



    <div class="span3">
      <br>

        <div class="estado_animo">
          <p style="font-style: inherit; font-size: medium; margin: 0px 0px 5px 30px ;">Current Mood:</p>

          <% mood_lvl = @project.moods.order(:created_at).last.status
             mood_lvl = mood_lvl-1 if mood_lvl % 2 == 0
             mood = mood_lvl.to_s   %>

          <div style="width: 140px; height: 140px; vertical-align: top; display: inline-block;  margin: 10px 5px 5px 50px; ">
              <%=image_tag "status/normal/#{mood}.png" %>
          </div>

          <ul class="nav nav-pills" style="width: 300px; height: 30px; margin: 0px 10px 30px 0px;">
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/1.png" %></a></li>
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/3.png" %></a></li>
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/5.png" %></a></li>
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/7.png" %></a></li>
            <li onclick="activate(this)" class="active"><a href="#" style="width:    20px; height: 20px;"><%=image_tag "status/normal/9.png" %></a></li>
          </ul>

          <p style="font-style: inherit; font-size: medium; margin: 0px 0px 5px 30px ;">You can change your mood whenever you want. </p>
          <br>

        </div>


      <div id="global_nav">
        <ul id="myTab" >
          <li class="summary active">
            <a href="#feedbacks" data-toggle="tab"> Feedbacks</a>
          </li>
          <li class="projects">
            <a href="#data" data-toggle="tab"> Data</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span8">
      <div id="page">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="feedbacks">
            <!-- page header -->
            <div class="page_header_wrapper">
              <div class="page_header">
                <h1>Feedbacks</h1>
                <div class="nav pull-right" style="margin: -30px 8px;">
                <%= link_to '<i class="icon-plus icon-white"></i> New Feedback'.html_safe, {:controller => "feedbacks", :action => "new" },:remote => true %>
                </div>
              </div>
            </div>

            <div id="#load-more">
                     <%=   %>
            </div>

            <!--// page header2 -->
            <div class="page_header2" style="margin: 0% 0% -2%;">

              <h4>Show events since:</h4>
              <div class="nav pull-right" style="margin: -5% 40%;">
                  <div class="input-append date" id="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                    <input size="12" type="text" value="12-02-2012" readonly>
                    <span class="add-on"><i class="icon-th"></i></span>
                  </div>
                  <p style="margin: -14% 105%">
                    <button class="btn btn-primary" type="button">Filtrar</button>
                  </p>

              </div>
            </div>
            <hr>

            <!-- page contents -->
            <div class="page_content">
              <!-- main column -->
              <!--// main column -->
              <!--// page contents -->
              <div class="feedbacks_panel">

                <% @feedbacks =  Feedback.find_all_by_project_id(@project.id) %>
                <!--    <table>    -->
                <% @feedbacks.each do |feedback| %>
                    <!--  <tr>   -->
                      <div class="seccion2" >
                          <%= image_tag(   FeedbackType.find(feedback.feedback_type_id).name + ".png", :alt => "Moove-It",:class => "ImgFeedback") %>
                          <a href="feedbacks/<%= feedback.id %>" class="fill-div">
                            <h4 class="show_Asunto"><%= feedback.asunto %></h4>
                            <h6 class="fechaFeedback" >03/09/2012</h6>

                            <h6 class="ultimoCometario"  >Ultimo comentario echo por mauro@mooveit , 06 de agosto 2012</h6>
                          </a>
                      </div>
                    <!--  </tr>   -->
                <% end %>
                <!-- </table>     -->


               </div>


               <div style="position: relative; ">
                 <ul class="pager">
                     <li class="disabled"><a href="#">Previous</a></li>
                     <li><a href="#">Next</a></li>
                 </ul>
               </div>

             </div>
           </div>
           <div class="tab-pane fade" id="data">
             <!-- page header -->
            <div id="page_header_wrapper">
              <div class="page_header">
                <h1>Data</h1>
                <div class="nav pull-right" style="margin: -30px 8px;">


                  <%= link_to '<i class="icon-plus icon-white"></i> New Milestone'.html_safe, {:controller => "milestones", :action => "new_milestone"} %>
                </div>
              </div>
            </div>
            <!--// page header -->

            <div class="project_description">
              <h4><strong> Description</strong></h4>
              <p style="font-family: Lemon;"> <%= @project.description %>  </p>

                <!-- page contents -->
                <div id="page_content">
                  <!-- main column -->
                  <!--// main column -->
                  <hr>

                  <h4><strong>Changes in mood</strong></h4>
                  <div style="margin: 5% 10% 5% 20%;">
                    <%= image_tag @grafica %>

                  </div>

                  <hr>

                  <h4><strong>Milestones</strong></h4>

                  <% @project.milestones.each do |mile| %>
                      <p style="font-family: Lemon;"> <%= "#{mile.target_date.to_s} ----- #{mile.name}" %></p>
                  <% end %>

                </div>
              </div>

              <!--// page contents -->
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>