<h1>show_project</h1>
<p>Vista de verProyecto</p>

<% if !@profile %>

    <p> No existe un proyecto en el perfil del usuario </p>

<% else %>

    <p> Datos proyecto del perfil:

    </p>
    <p> Nombre: <%= @project.name %>  </p>
    <p> Descripcion: <%= @project.description %>  </p>
    <p> Fecha de finalizacion: <%= @project.end_date %> </p>
    <p> Finalizado: <%= @project.finalized %> </p>

    <p>

      Milestones

    </p>

    <% @milestones.each do |mile| %>

        <p> Nombre: <%= mile.name %>  </p>
        <p> Fecha destino: <%= mile.target_date %>  </p>


    <% end %>

    <% if @milestones.empty? %>
        <p> No existen milestones en este proyecto </p>
    <% end %>

    <p>

      Feedbacks

    </p>

    <% @feedbacks.each do |feed| %>

    <p> Tema: <%= feed.subject %>  </p>
    <p> Contenido: <%= feed.content %>  </p>


    <% end %>

    <% if @feedbacks.empty? %>
        <p> No existen feedbacks en este proyecto </p>
    <% end %>



<% end %>