<script>
    $('a[data-toggle="tab"]').on('shown', function (e) {
        e.target // activated tab
        e.relatedTarget // previous tab
    })

    $("#load-more").bind("ajax:complete", function (et, e) {
        $("#products-list").html(e.responseText); // insert content
    });

    $("#load-more").bind("ajax:loading", function (et, e) {
        $(this).html("Loading..."); // swap link text
    });

    function activate(me) {
        $('.active').each(function () {
            $(this).removeClass('active');
        });
        $(me).addClass('active');
    }

    $('#datepicker').datepicker();

    function updatePanel(url, id_replace, tab) {
        $.get(url, function (res) {
            $('#' + id_replace).html(res);
            $('#myTab  a[href=#' + tab + ']').tab('show');
        },'html');

    }

    function updatePanelMoods(me, url, id, mood) {
        $.get(url, function (res) {
            document.getElementById('moods').innerHTML = '<img alt="' + mood + '" src="/assets/status/normal/' + mood + '.png"/>';
            //document.getElementById('moods').innerHTML = '<img src="/assets/status/normal/3.png"/>';
        });
        $('.active').each(function () {
            $(this).removeClass('active');
        });
        $(me).addClass('active');
    }

</script>




<div id="breadcrumbs-wrapper">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
          <b class="caret"></b>
          <i class="icon-book"> </i>
          <%= @view[:project].name %>
        </a>
        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <% Project.where(:client_id => @view[:project].client_id).order(:name).each do |proj| %>
              <% if proj.id != @view[:project].id %>
                  <li>
                    <%= link_to proj.name, {:controller => "projects", :action => "change_profile_project", :id => proj.id} %>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </li>
    </ul>
    <!-- /tabs -->
  </div>
</div>


<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <br>

      <div class="current-mood">
        <p>Yor current mood:</p>

        <div class="face-mood-state">

          <div id="moodsTabContent" class="tab-content">
            <!-- page moods -->
            <div class="tab-pane fade active in" id="moods">
              <% mood = @view[:project].moods.order(:created_at).last.get_mood_img %>
              <%= image_tag "status/normal/#{mood}" %>
            </div>
          </div>

          <ul class="nav-pills">
            <li onclick="updatePanelMoods(this,'<%=  "/my_projects/change_mood?new_status=1" %>','moods', mood)" <% if mood == "1.png" %> class="active" <% end %>><a href="/my_projects/change_mood?new_status=1" remote="true"><img alt="1" src="/assets/status/normal/1.png" class="face-mood"/></a></li>
            <li onclick="updatePanelMoods(this,'<%=  "/my_projects/change_mood?new_status=3" %>','moods', mood)" <% if mood == "3.png" %> class="active" <% end %>><a href="/my_projects/change_mood?new_status=3" remote="true"><img alt="3" src="/assets/status/normal/3.png" class="face-mood"/></a></li>
            <li onclick="updatePanelMoods(this,'<%=  "/my_projects/change_mood?new_status=5" %>','moods', mood)" <% if mood == "5.png" %> class="active" <% end %>><a href="/my_projects/change_mood?new_status=5" remote="true"><img alt="5" src="/assets/status/normal/5.png" class="face-mood"/></a></li>
            <li onclick="updatePanelMoods(this,'<%=  "/my_projects/change_mood?new_status=7" %>','moods', mood)" <% if mood == "7.png" %> class="active" <% end %>><a href="/my_projects/change_mood?new_status=7" remote="true"><img alt="7" src="/assets/status/normal/7.png" class="face-mood"/></a></li>
            <li onclick="updatePanelMoods(this,'<%=  "/my_projects/change_mood?new_status=9" %>','moods', mood)" <% if mood == "9.png" %> class="active" <% end %>><a href="/my_projects/change_mood?new_status=9" remote="true"><img alt="9" src="/assets/status/normal/9.png" class="face-mood"/></a></li>
          </ul>
        </div>

        <p>Just click on your mood whenever you want to change it. </p>
        <br>
      </div>


      <div id="global_nav">
        <ul id="myTab">
          <li class="feedbacks active">
            <a href="#feedbacks" onclick="updatePanel('<%=  project_feedbacks_path(@view[:project].id) %>','feedbacks-content','feedbacks')"> Feedbacks</a>
          </li>
          <li class="data">
            <a href="#data" data-toggle="tab"> Data</a>
          </li>
          <li class="new-feedback" hidden="true">
            <a href="#new-feedback" data-toggle="tab"> New Feedback</a>
          </li>
          <li class="show-feedback" hidden="true">
            <a href="#show-feedback" data-toggle="tab"> Show Feedback</a>
          </li>
          <li class="new-milestone" hidden="true">
            <a href="#new-milestone" data-toggle="tab"> New Milestone</a>
          </li>
        </ul>
      </div>

      <br/>
      <div class="milestone-box">
        <%= @view[:mile1] %>
        <% if @view[:mile2] != nil %>
            <hr/>
            <p> <%= @view[:mile2] %> </p>
        <% end %>
      </div>

    </div>
    <div class="span9">
      <div id="page">
        <div id="myTabContent" class="tab-content">

          <!-- page feedbacks -->
          <div class="tab-pane fade active in" id="feedbacks">

            <!-- page header -->
            <div class="page_header">
              <h1>Feedbacks</h1>

              <div class="add_element">
                <button class="btn btn-link" type="button" onclick="updatePanel('<%=  new_feedback_path(@project) %>','new-feedback-content','new-feedback')">
                  <i class="icon-plus icon-white"> </i> New Feedback
                </button>

              </div>
            </div>
            <!--// page header -->


            <!-- page contents -->
            <div class="page_content" id="feedbacks-content">

              <%= render template: "feedbacks/index" %>

            </div>
            <!--// page contents -->

          </div>
          <!--// page feedbacks -->

          <!-- page data -->
          <div class="tab-pane fade" id="data">

            <!-- page header -->
            <div class="page_header">
              <h1>Data</h1>

              <div class="add_element">

                <button class="btn btn-link .add" type="button" onclick="updatePanel('<%=  new_milestone_path(@project) %>','new-milestone-content','new-milestone')">
                  <i class="icon-plus icon-white"> </i> New Milestone
                </button>

              </div>
              <!--
                <div class="nav pull-right" style="margin: -30px 8px;">
                  <%= link_to '<i class="icon-plus icon-white"> </i> New Milestone'.html_safe, {:controller => "milestones", :action => "new_milestone"} %>
                </div>
                -->

            </div>
            <!--// page header -->

            <!-- page contents -->
            <div class="page_content">

              <h4>Description</h4>

              <p> <%= @view[:project].description %>  </p>

              <hr>

              <h4>Changes in mood</h4>
              <br/>

              <div class="mood-graph">
                <%= image_tag @view[:graph] %>
              </div>
              <br/>
              <hr>

              <h4>Milestones</h4>

              <% @view[:project].milestones.each do |mile| %>
                  <p> <%= "#{mile.target_date} #{mile.name}" %></p>
              <% end %>

            </div>
            <!--// page contents -->

          </div>
          <!--// page data -->


          <!-- page new feedback -->
          <div class="tab-pane fade" id="new-feedback">
            <!-- page header -->
            <div class="page_header">
              <h1>New Feedback</h1>
            </div>
            <!--// page header -->
            <!-- page contents -->
            <div class="page_content" id="new-feedback-content">

            </div>
            <!--// page contents -->
          </div>
          <!--// page new feedback -->

          <!-- page show feedback -->
          <div class="tab-pane fade" id="show-feedback">
            <!-- page header -->
            <div class="page_header">
              <h1>Show Feedback</h1>
            </div>
            <!--// page header -->
            <!-- page contents -->
            <div class="page_content" id="show-feedback-content">

            </div>
            <!--// page contents -->
          </div>
          <!--// page show feedback -->

          <!-- page new milestone -->
          <div class="tab-pane fade" id="new-milestone">
            <!-- page header -->
            <div class="page_header">
              <h1>New Milestone</h1>
            </div>
            <!--// page header -->
            <!-- page contents -->
            <div class="page_content" id="new-milestone-content">

            </div>
            <!--// page contents -->
          </div>
          <!--// page new feedback -->

        </div>
      </div>
    </div>
  </div>


</div>
<br>
<br>
<br>
<br>
<br>