
<script>
    $('a[data-toggle="tab"]').on('shown', function (e) {
        e.target // activated tab
        e.relatedTarget // previous tab
    })

    $("#load-more").bind("ajax:complete", function(et, e){
        $("#products-list").html(e.responseText); // insert content
    });

    $("#load-more").bind("ajax:loading", function(et, e){
        $(this).html("Loading..."); // swap link text
    });

    function activate(me)
    {
        $('.active').each(function(){$(this).removeClass('active');});
        $(me).addClass('active');
    }

    $('#datepicker').datepicker();

    function updatePanel(url,id) {
        $.get(url, function(res){
            //var f = $('#feedbacks');
            //f.innerHTML = res;

            document.getElementById('feedbacks').innerHTML = res;

     /*       var dom = $.parseXML(res);
            var content = dom.getElementById(id);
            //alert(form);
            document.getElementById('feedbacks').innerHTML = (new XMLSerializer()).serializeToString(content);*/
        });
    }

</script>








<div id="breadcrumbs-wrapper">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
          <b class="caret"></b>
          <i class="icon-book"> </i>
          <%= @project.name %>
        </a>
        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <% Project.where(:client_id => @project.client_id).order(:name).each do |proj| %>
              <% if proj.id != @project.id %>
                  <li>
                    <%= link_to proj.name, {:controller => "projects", :action => "change_profile_project", :id => proj.id} %>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </li>
    </ul> <!-- /tabs -->
  </div>
</div>


<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <br> </br>

        <div class="current-mood">
          <p>Yor current mood:</p>

          <% mood_lvl = @project.moods.order(:created_at).last.status
             mood_lvl = mood_lvl-1 if mood_lvl % 2 == 0
             mood = mood_lvl.to_s   %>

          <div style="width: 140px; height: 140px; vertical-align: top; display: inline-block;  margin: 10px 5px 5px 50px; ">
              <%=image_tag "status/normal/#{mood}.png" %>
          </div>

          <ul class="nav nav-pills" style="width: 300px; height: 30px; margin: 0px 10px 30px 0px;">
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/1.png" %></a></li>
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/3.png" %></a></li>
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/5.png" %></a></li>
            <li onclick="activate(this)"><a href="#" style="width: 20px; height: 20px;"><%=image_tag "status/normal/7.png" %></a></li>
            <li onclick="activate(this)" class="active"><a href="#" style="width:    20px; height: 20px;"><%=image_tag "status/normal/9.png" %></a></li>
          </ul>

          <p>Just click on your mood whenever you want to change it. </p>
          <br>

        </div>


      <div id="global_nav">
        <ul id="myTab" >
          <li class="feedbacks active">
            <a href="#feedbacks" data-toggle="tab"> Feedbacks</a>
          </li>
          <li class="data">
            <a href="#data" data-toggle="tab"> Data</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span8">
      <div id="page">
        <div id="myTabContent" class="tab-content">

          <!-- page feedbacks -->
          <div class="tab-pane fade active in" id="feedbacks">

            <!-- page header -->
              <div class="page_header">
                <h1>Feedbacks</h1>
                <div class="add_element">

                      <button class="btn btn-link" type="button" onclick="updatePanel('<%=  new_feedback_path + '?Projectid=' +  @project.id.to_s %>','new_feedback')">
                        <i class="icon-plus icon-white"> </i> New Feedback
                      </button>

                </div>
              </div>
            <!--// page header -->


            <!-- page contents -->
            <div class="page_content">
              <h5 style="display:inline;">Show events since:</h5>

                <div class="input-append date" style="display:inline;" id="datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                  <input size="12" type="text" value="12-02-2012" readonly="true"/>
                  <span class="add-on"><i class="icon-th"> </i></span>
                </div>
              &nbsp;

                  <button style="display:inline;" class="btn" type="button">Filtrar</button>

              <hr>

              <div class="feedbacks_panel">

                <!--    <table>    -->
                <% @project.feedbacks.each do |feedback| %>
                    <!--  <tr>   -->
                      <div class="seccion2" >
                          <%= image_tag(feedback.feedback_type.name + ".png", :alt => "Moove-It",:class => "ImgFeedback") %>
                          <a href="feedbacks/<%= feedback.id %>" class="fill-div">
                            <h4 class="show_Asunto"><%= truncate(strip_tags(feedback.subject),
                                                                 :length => 45) %></h4>
                            <h6 class="fechaFeedback" ><%= "Subido por " + feedback.user.full_name + " on   " + feedback.created_at.strftime("   %A, %d %B, %Y,  %H:%M")  %></h6>
                            <h7 class="Contenido"><%= truncate(strip_tags(feedback.content),
                                             :length => 180) %></h7>




                            <h6 class="ultimoCometario"  >Ultimo comentario echo por mauro@mooveit , 06 de agosto 2012</h6>
                          </a>
                      </div>
                    <!--  </tr>   -->
                <% end %>
                <!-- </table>     -->


               </div>


               <div style="position: relative; ">
                 <ul class="pager">
                     <li class="disabled"><a href="#">Previous</a></li>
                     <li><a href="#">Next</a></li>
                 </ul>
               </div>

             </div>
            <!--// page contents -->

          </div>
          <!--// page feedbacks -->

          <!-- page data -->
          <div class="tab-pane fade" id="data">

            <!-- page header -->
              <div class="page_header">
                <h1>Data</h1>

                <div class="add_element">

                  <button class="btn btn-link .add" type="button" onclick="updatePanel('<%=  new_feedback_path + '?Projectid=' +  @project.id.to_s %>','new_feedback')">
                    <i class="icon-plus icon-white"> </i> New Milestone
                  </button>

                </div>
                <!--
                <div class="nav pull-right" style="margin: -30px 8px;">
                  <%= link_to '<i class="icon-plus icon-white"> </i> New Milestone'.html_safe, {:controller => "milestones", :action => "new_milestone"} %>
                </div>
                -->

              </div>
            <!--// page header -->

                <!-- page contents -->
                <div class="page_content">

                  <h4><strong> Description</strong></h4>
                  <p> <%= @project.description %>  </p>

                  <hr>

                  <h4><strong>Changes in mood</strong></h4>
                  <div style="margin: 5% 10% 5% 20%;">
                    <%= image_tag @grafica %>

                  </div>

                  <hr>

                  <h4><strong>Milestones</strong></h4>

                  <% @project.milestones.each do |mile| %>
                      <p> <%= "#{mile.target_date.to_s} ----- #{mile.name}" %></p>
                  <% end %>

                </div>
                <!--// page contents -->

          </div>
          <!--// page data -->


          </div>
        </div>
      </div>
    </div>



  </div>

