<script>
    $(document).ready(function () {
        //updatePanel("<%=  project_feedbacks_path(@project) %>", 'feedbacks-content', 'feedbacks');
        //$('#myTab  a[href=#' + 'feedbacks' + ']').tab('show');

    });

    function updatePanelMoods1(me, url, id, mood) {
        $.get(url, function (res) {
            document.getElementById('moods').innerHTML = '<img alt="' + mood + '" src="/assets/status/normal/' + mood + '.png"/>';
            //document.getElementById('moods').innerHTML = '<img src="/assets/status/normal/3.png"/>';
        });
    }
</script>

<div id="breadcrumbs-wrapper">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
          <b class="caret"></b>
          <i class="icon-book"> </i>
          <%= @view[:project].name %>
        </a>
        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
          <% Project.where(:client_id => @view[:project].client_id).order(:name).each do |proj| %>
              <% if proj.id != @view[:project].id %>
                  <li>
                    <%= link_to proj.name, {:controller => "projects", :action => "change_profile_project", :id => proj.id} %>
                  </li>
              <% end %>
          <% end %>
        </ul>
      </li>
    </ul>
    <!-- /tabs -->
  </div>
</div>


<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <br>

      <div class="current-mood">
        <p>Yor current mood:</p>

        <div class="face-mood-state">

          <div id="myTabContentMoods" class="tab-content">

            <!-- page moods -->
            <div class="tab-pane fade in active" id="change-mood1">
                <!-- page contents -->
                <div class="page_content" id="change-mood1-content">

                  <%= render template:'projects/change_mood' %>

                </div>
            </div>
            <div class="tab-pane fade" id="change-mood3">
              <!-- page contents -->
              <div class="page_content" id="change-mood3-content">
              </div>
            </div>
            <div class="tab-pane fade" id="change-mood5">
              <!-- page contents -->
              <div class="page_content" id="change-mood5-content">
              </div>
            </div>
            <div class="tab-pane fade" id="change-mood7">
              <!-- page contents -->
              <div class="page_content" id="change-mood7-content">
              </div>
            </div>
            <div class="tab-pane fade" id="change-mood9">
              <!-- page contents -->
              <div class="page_content" id="change-mood9-content">
              </div>
            </div>
          </div>

          <ul id="face-list">
            <% mood = @view[:project].moods.order(:created_at).last.get_mood_img %>
            <li <% if mood == "1.png" %> class="active" <% end %>><a href="#change-mood1" class="change-mood1-link" data-url="<%= change_mood_path('1') %>"><img alt="1" src="/assets/status/normal/1.png" class="face-mood"/></a></li>
            <li <% if mood == "3.png" %> class="active" <% end %>><a href="#change-mood3" class="change-mood3-link" data-url="<%= change_mood_path('3') %>"><img alt="3" src="/assets/status/normal/3.png" class="face-mood"/></a></li>
            <li <% if mood == "5.png" %> class="active" <% end %>><a href="#change-mood5" class="change-mood5-link" data-url="<%= change_mood_path('5') %>"><img alt="5" src="/assets/status/normal/5.png" class="face-mood"/></a></li>
            <li <% if mood == "7.png" %> class="active" <% end %>><a href="#change-mood7" class="change-mood7-link" data-url="<%= change_mood_path('7') %>"><img alt="7" src="/assets/status/normal/7.png" class="face-mood"/></a></li>
            <li <% if mood == "9.png" %> class="active" <% end %>><a href="#change-mood9" class="change-mood9-link" data-url="<%= change_mood_path('9') %>"><img alt="9" src="/assets/status/normal/9.png" class="face-mood"/></a></li>
          </ul>
        </div>

        <p>Just click on your mood whenever you want to change it. </p>
        <br>
      </div>



      <div id="global_nav">
        <ul id="myTab">
          <li class="feedbacks active">
            <a href="#feedbacks" class="feedbacks-link" data-url="<%= project_feedbacks_path(@project) %>"> Feedbacks</a>
            <ul>
              <li class="feedbacks" hidden="true">
                <a href="#feedbacks"> Feedbacks</a>
              </li>
              <li class="new-feedback" hidden="true">
                <a href="#new-feedback"> New Feedback</a>
              </li>
              <li class="show-feedback" hidden="true">
                <a href="#show-feedback"> Show Feedback</a>
              </li>
            </ul>
          </li>
          <li class="data">
            <a href="#project-data" class="data-link" data-url="<%= project_data_path(@project) %>"> Data</a>
            <ul>
              <li class="data" hidden="true">
                <a href="#project-data"> Data</a>
              </li>
              <li class="new-milestone" hidden="true">
                <a href="#new-milestone"> New Milestone</a>
              </li>
            </ul>

          </li>


        </ul>
      </div>

      <br/>

      <div class="milestone-box">
        <%= @view[:mile1] %>
        <hr/>
        <p> <%= @view[:mile2] %> </p>
      </div>

    </div>
    <div class="span9">
      <div id="page">
        <div id="myTabContent" class="tab-content">

          <!-- page feedbacks -->
          <div class="tab-pane fade  in active" id="feedbacks">

            <!-- page header -->
            <div class="page_header">
              <h1>Feedbacks</h1>

              <div class="add_element">
                <a href="#new-feedback" class="btn btn-link new-feedback-link" data-url="<%= new_feedback_path(@project) %>">
                  <i class="icon-plus icon-white"> </i> New Feedback
                </a>

              </div>
            </div>
            <!--// page header -->


            <!-- page contents -->
            <div class="page_content" id="feedbacks-content">
              <%= form_tag(feedbacks_date_filter_path, :remote => true) do %>
                  <%= hidden_field_tag(:project_id,@project.id) %>
                  <div class="feedbacks_filter">
                    <h5 class="feedbacks_filer_element">Show events since:</h5>

                    <div class="input-append date feedbacks_filer_element" id="datepicker" data-date="<%= Time.now.strftime("%d/%m/%Y") %>" data-date-format="dd/mm/yyyy">
                      <%= text_field_tag(:date,Time.now.strftime("%d/%m/%Y"),:class => "span2", :size => 16) %>
                      <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>

                    &nbsp;
                    <%= button_tag("Filter",:class => "btn") %>
                  </div>
              <% end %>
              <hr class="hr_feedbacks_table">
              <%= render template: "feedbacks/index" %>

            </div>
            <!--// page contents -->

          </div>
          <!--// page feedbacks -->

          <!-- page data -->
          <div class="tab-pane fade" id="project-data">

            <!-- page header -->
            <div class="page_header">
              <h1>Data</h1>

              <div class="add_element">

                <button class="btn btn-link new-milestone-link" data-url="<%= new_milestone_path(@project) %>">
                  <i class="icon-plus icon-white"> </i> New Milestone
                </button>

              </div>

            </div>
            <!--// page header -->

            <!-- page contents -->
            <div class="page_content" id="data-content">

            </div>
            <!--// page contents -->

          </div>
          <!--// page data -->


          <!-- page new feedback -->
          <div class="tab-pane fade" id="new-feedback">
            <!-- page header -->
            <div class="page_header">
              <h1>New Feedback</h1>
            </div>
            <!--// page header -->
            <!-- page contents -->
            <div class="page_content" id="new-feedback-content">

            </div>
            <!--// page contents -->
          </div>
          <!--// page new feedback -->

          <!-- page show feedback -->
          <div class="tab-pane fade" id="show-feedback">
            <!-- page header -->
            <div class="page_header">
              <h1>Show Feedback</h1>
            </div>
            <!--// page header -->
            <!-- page contents -->
            <div class="page_content" id="show-feedback-content">

            </div>
            <!--// page contents -->
          </div>
          <!--// page show feedback -->

          <!-- page new milestone -->
          <div class="tab-pane fade" id="new-milestone">
            <!-- page header -->
            <div class="page_header">
              <h1>New Milestone</h1>
            </div>
            <!--// page header -->
            <!-- page contents -->
            <div class="page_content" id="new-milestone-content">

            </div>
            <!--// page contents -->
          </div>
          <!--// page new feedback -->

        </div>
      </div>
    </div>
  </div>


</div>
<br>
<br>
<br>
<br>
<br>