<div class="page_header">
  <h1><%= t('admin.tabs.show_project') %></h1>

  <div class="add_element">
    <a href="#edit-project" class="btn btn-link edit-project-link" data-url="<%=edit_project_path  @project %>">
      <i class="icon-pencil icon-white"> </i> <%= t('admin.tabs.edit_project')%>
    </a>
  </div>
</div>


<div class="page_content" id="show-project-content">

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<!--<p>
  <b>Status:</b>
  < %= @project.status %>
</p>-->


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


</div>