<h4><%= t('my_projects.data_tab.project_description')  %></h4>

<p> <%= @view[:project].description %>  </p>

<hr>

<% if current_user.admin? || current_user.mooveit? %>
<h4><%= t('my_projects.data_tab.mood_updates')  %></h4>
<br/>

<div class="mood-graph">
  <%= image_tag @view[:graph] %>
</div>
<br/>
<hr>
<% end %>

<h4><%= t('my_projects.data_tab.milestones')  %></h4>

<% @view[:project].milestones.each do |mile| %>
    <p> <%= "#{mile.target_date} #{mile.name}" %>
      <% if current_user.admin? %>
      <%= link_to '', mile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'icon-remove-circle' %>
      <% end %>
          </p>
<% end %>