<br/>
<div class="container">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <div class="container">
        <div class="row-fluid">
          <div class="span5">

          </div>
          <div class="span5" >
            <% if flash[:alert] %>
                <div class="alert alert-error">
                  <strong><%= flash[:alert] %></strong>
                </div>
            <% end %>

               <div class="tabbable logincontainer">
                  <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab"><%= I18n.t ('user.sign_in')  %></a>
                    </li>
                    <li>
                      <%= link_to I18n.t('user.sing_in_with') + ' OpenID'.html_safe, user_omniauth_authorize_path(:google) %>
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane active" id="tab1">

               <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} ) do |f| %>

                    <div class="control-group">
                    <label class="control-label" for="inputUsername"><%= I18n.t('user.username')  %></label>
                    <div class="controls">
                      <div class="input-prepend">
                                                    <span class="add-on">
                                                        <i class="icon-user"></i>
                                                    </span>
                        <%= f.text_field :username, :placeholder => I18n.t('user.username')  %>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword"><%= I18n.t('user.password')%></label>
                    <div class="controls">
                      <div class="input-prepend">
                                                    <span class="add-on">
                                                        <i class="icon-lock"></i>
                                                    </span>
                        <%= f.password_field :password, :placeholder => I18n.t('user.password')  %>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">


                    <div class="controls">
                        <% if devise_mapping.rememberable? -%>
                          <div class="controls span1">
                            <label class="checkbox">
                          <%= f.check_box :remember_me  %>
                           </label>
                          </div>
                          &nbsp;<%= I18n.t('user.remember_me')%>&nbsp;
                        <% end -%>


                        <%= f.submit  I18n.t('user.sign_in') , :class => "btn btn-primary" %>
                    </div>



                  </div>
                        <div class="offset7">
                            <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                                <%= link_to I18n.t('user.forgot_password'), new_password_path(resource_name) %><br />
                            <% end -%>
                        </div>

              <% end %>
              </div>
              </div>

               </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>