<div class="container">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <div class="container">
        <div class="row-fluid">
          <div class="span5">

          </div>
          <div class="span5" style="background-color: #f0f8ff; border-radius: 5px; ">
              <div style="width: 98%; margin-left: 5px;" >
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} ) do |f| %>
               <legend>Sign in</legend>
                    <div class="control-group">
                    <label class="control-label" for="inputUsername">Username</label>
                    <div class="controls">
                      <div class="input-prepend">
                                                    <span class="add-on">
                                                        <i class="icon-user"></i>
                                                    </span>
                        <%= f.text_field :username, :placeholder => "Username"  %>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                      <div class="input-prepend">
                                                    <span class="add-on">
                                                        <i class="icon-lock"></i>
                                                    </span>
                        <%= f.password_field :password, :placeholder => "Password"  %>
                      </div>
                      <div>
                        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                        <% end -%>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <%= f.submit "Sign in", :class => "btn btn-primary" %>
                    </div>
                  </div>


              <% end %>

              </div>







          </div>
        </div>
      </div>
    </div>
  </div>
</div>
