

<div class="row seccion wide" style="margin: auto;" xmlns="http://www.w3.org/1999/html">
      <%= form_for(@feedback) do |f| %>
          <% if @feedback.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

                <ul>
                  <% @feedback.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>


    <div id="myTabContent" class="Data">
      <div class="page_header" style="border-bottom: solid; background: #ffffbc;border-bottom-width: 0.8px;border-bottom-color: #c8d0e2;">
        <h1>New Feedback</h1>
      </div>

      <input class="TextField" id="feedback_project_id" name="project_id" size="30" type="hidden" value="<%= params[:Projectid] %>" />
      <div class="margin4">
        <%= f.label :Tipo_de_feedback ,:class => "Etiqueta" %>
        <%= f.select(:feedback_type_id,FeedbackType.all.map {|fe| [fe.name, fe.id]},:prompt => true) %>
      </div>

      <div class="margin4">
        <%= f.label :subject ,:class => "Etiqueta" %>
        <%= f.text_field :subject , :class => "TextField" %>
      </div>




      <div class="margin3" >
        <%= f.label :content ,:class => "Etiqueta" %>
        <%= f.text_area :content, :class => "estilotextarea" %>

      </div>
      <div class="" style="border-bottom: solid;border-bottom-width: 0.5px;">

      </div>



      <div class="margin3" >
        <%= f.label :visibility ,:class => "Etiqueta" %>
        <%= f.check_box :mooveit_visibility %> Empleado Moove-IT   <%= f.check_box :client_visibility %> Cliente
      </div>

      <div class="margin3" >
        <h7 style="float: left;margin-right: 5%;"> ¿Cómo crees que este feedback afecta al estado de ánimo del proyecto? </h7>
        -1<input type="radio" name="animo" value="-1" style="margin-right: 3%;margin-left: 2px;"/>
        0<input type="radio" name="animo" value="0" style="margin-right: 3%;margin-left: 2px;"/>
        1<input type="radio" name="animo" value="1" style="margin-right: 3%;margin-left: 2px;"/>

      </div>

      <div class="margin4" style="margin-left: 10px;">
        <%=  f.submit :Crear %> or
        <button class="btn btn-link" type="button"  onclick="updatePanel('my_projects','page')" >
          Cancelar
        </button>
        <!--< %= link_to 'Cancelar', :controller => "/projects", :action => "show_project_complete"  %>-->
      </div>

    </div>



      <% end %>
    </div>