<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row seccion wide">
  <div class="span12" style="border-bottom: solid; background: #ffffbc;border-bottom-width: 0.8px;border-bottom-color: #c8d0e2;">
    <h2 style="margin-left: 10px;">Nuevo Feedback</h2>
  </div>

  <div class="span12 margin4">
    <%= f.label :Tipo_de_feedback ,:class => "Etiqueta" %>
    <%= f.select(:feedback_type_id,FeedbackType.all.map {|fe| [fe.name, fe.id]},:prompt => true) %>
  </div>

  <div class="span12 margin4">
    <%= f.label :asunto ,:class => "Etiqueta" %>
    <%= f.text_field :asunto , :class => "TextField" %>
  </div>




  <div class="span12 margin3" >
    <%= f.label :contenido %>
    <%= f.text_area :contenido, :class => "estilotextarea" %>

  </div>
  <div class="span11" style="border-bottom: solid;border-bottom-width: 0.5px;">

  </div>



  <div class="span12 margin3" >
    <%= f.label :visibilidad ,:class => "Etiqueta" %>
    <%= f.check_box :VisibilidadEmpleado %> Empleados Moove-IT   <%= f.check_box :VisibilidadCliente %> Cliente
  </div>

  <div class="span12 margin3" >
    <h7 style="float: left;margin-right: 5%;"> ¿Cómo crees que este feedback afecta al estado de ánimo del proyecto? </h7>
    -1<input type="radio" name="animo" value="-1" style="margin-right: 3%;margin-left: 2px;">
    0<input type="radio" name="animo" value="0" style="margin-right: 3%;margin-left: 2px;">
    1<input type="radio" name="animo" value="1" style="margin-right: 3%;margin-left: 2px;">

  </div>

  <div class="span12 margin4">
    <%=  f.submit :Crear%>  or <%= link_to 'Cancelar', feedbacks_path %>
  </div>

</div>
<% end %>
