<%= form_for(@feedback) do |f| %>

    <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

          <ul>
            <% @feedback.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <input class="TextField" id="feedback_project_id" name="project_id" size="30" type="hidden" value="<%= @feedback.project_id %>"/>

    <div class="margin4 alert jCounterDefault countdown2">
      Remaining time for editing:
      <span class="minutes">00</span>
      minutes and
      <span class="seconds">00</span>
      seconds
    </div>

    <div class="margin4">
      <%= f.label :Tipo_de_feedback, :class => "Etiqueta" %>
      <%= f.select(:feedback_type_id, FeedbackType.all.map { |fe| [fe.name, fe.id] }, :prompt => true) %>
    </div>

    <div class="margin4">
      <%= f.label :subject, :class => "Etiqueta" %>
      <%= f.text_field :subject, :class => "SubjectText" %>
    </div>


    <div class="margin3">
      <%= f.label :content, :class => "Etiqueta" %>
      <%= f.text_area :content, :class => "estilotextarea field span12" %>

    </div>
    <div class="" style="border-bottom: solid;border-bottom-width: 0.5px;">

    </div>


    <div class="margin3">
      <%= f.label :visibility, :class => "Etiqueta" %>
      <%= f.check_box :mooveit_visibility %> Empleado Moove-IT   <%= f.check_box :client_visibility %> Cliente
    </div>

    <div class="margin3">
      <h7 style="float: left;margin-right: 5%;"> ¿Cómo crees que este feedback afecta al estado de ánimo del proyecto?</h7>
      -1<input type="radio" name="animo" value="-1" style="margin-right: 3%;margin-left: 2px;"/>
      0<input type="radio" name="animo" value="0" style="margin-right: 3%;margin-left: 2px;"/>
      1<input type="radio" name="animo" value="1" style="margin-right: 3%;margin-left: 2px;"/>

    </div>

    <div class="margin4" style="margin-left: 10px;">
      <%= f.submit :Save %> or
      <button class="btn btn-link" type="button" onclick="updatePanel('<%=  project_feedbacks_path(:project_id => @feedback.project_id) %>','feedbacks-content','feedbacks')" >
        Cancelar
      </button>
    </div>
    <script>
            $(".countdown2").jCounter({
                format: "mm:ss",
                twoDigits: 'on',
                customDuration: <%= @feedback.remaining_time %>,
                fallback: function() {
                    window.location.reload()
                }
            });
    </script>


<% end %>
