<table class="feedbacks_table">
  <% @feedbacks.each do |feedback| %>
      <!-- feedbacks have a certain scope. Not everyone can see every feedback. Only admins can see every feedback -->
      <% if(current_user.client? && feedback.client_visibility?) || (current_user.mooveit? && feedback.mooveit_visibility?) || (current_user.admin?) %>
      <tr id="row_feedback_<%= feedback.id %>">

        <td class="avatar">
        <!-- a new feedback made by a client can be edited by him if it has been created less than 10 minutes ago -->
        <% if current_user.client? && (feedback.editable? current_user.id) %>
          <a href="#edit-feedback<%= feedback.id.to_s %>" class="avatar_image edit-feedback-link"
             data-url="<%= edit_feedback_path(feedback) %>">
            <%= image_tag(feedback.feedback_type.image_url, :alt => "feedback_image", :class => "feedback_image") %>
          </a>
        <% else %>
          <a href="#show-feedback<%= feedback.id.to_s %>" class="avatar_image show-feedback-link"
             data-url="<%= feedback_path(feedback) %>">
            <%= image_tag(feedback.feedback_type.image_url, :alt => "feedback_image", :class => "feedback_image") %>
          </a>
        <% end %>
        </td>

        <td class="feedback_info">
          <% if current_user.client? && (feedback.editable? current_user.id) %>
              <h4 class="feedback_subject">
                <a href="#edit-feedback<%= feedback.id.to_s %>" class="edit-feedback-link"
                   data-url="<%= edit_feedback_path(feedback) %>"><%= truncate(strip_tags(feedback.subject), :length => 80) %>
                </a>
              </h4>
          <% else %>
              <h4 class="feedback_subject">
                <a href="#show-feedback<%= feedback.id.to_s %>" class="show-feedback-link"
                   data-url="<%= feedback_path(feedback) %>"><%= truncate(strip_tags(feedback.subject), :length => 80) %>
                </a>
              </h4>
          <% end %>

          <h6 class="feedback_date"><%= get_row_feedback_date feedback %></h6>
          <pre class="feedback_content"><%= truncate(strip_tags(feedback.content), :length => 180) %></pre>
          <h6 class="feedback_last_comment"><%= get_feedback_last_comment_date feedback %></h6>
        </td>
      </tr>
      <% end %>
  <% end %>
</table>









