<p id="notice"><%= notice %></p>

<p>
  <b>Asunto:</b>
  <%= @feedback.asunto %>
</p>

<p>
  <b>Contenido:</b>
  <%= @feedback.contenido %>
</p>

<p>
  <b>Feedback type:</b>
  <%= FeedbackType.find(@feedback.feedback_type_id).name %>
</p>

<p>
  <b>Project:</b>
  <%= @feedback.project %>
</p>




<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
