<div class="feedback_show">

  <h4 class="feedback_subject"><%= strip_tags(@feedback.subject) %></h4>

  <h6 class="feedback_date"><%= t('feedback.create_by')+ " " + @feedback.user.full_name + " "+t('feedback.date_on')+"   " + @feedback.created_at.strftime("   %A, %d %B, %Y,  %H:%M") %></h6>

  <div class="feedback_content"><%= @feedback.content %></div>
  <hr class="feedback_division">

  <table class="comments_table">

    <% @feedback.comments.each do |comment| %>
        <tr id="row_comment_<%= comment.id %>">

          <td class="avatar">
            <% if current_user.profile.avatar.file? && !current_user.profile.show_gravatar %>
                <%= image_tag current_user.profile.avatar.url(:medium), :class => "user_image" %>
            <% else %>
                <%= gravatar_image_tag(current_user.profile.user.email.gsub('spam', 'mdeering'), :alt => current_user.profile.user.full_name, :class => "user_image") %>
            <% end %>
          </td>


          <td class="comment_info">
              <textarea readonly class="comment_content" rows="3"><%= comment.content %></textarea>
              <h6 class="comment_author"><%= t('feedback.create_by')+" " + comment.user.full_name + " "+t('feedback.date_on')+"   " + t("date."+"#{comment.created_at.strftime("%A")}")+ comment.created_at.strftime(" %d ")+ t("date."+"#{comment.created_at.strftime("%B")}") +comment.created_at.strftime(" %Y") %></h6>
          </td>

        </tr>
    <% end %>

    <tr id="row_comment_new">

      <td class="avatar">
        <% if current_user.profile.avatar.file? && !current_user.profile.show_gravatar %>
            <%= image_tag current_user.profile.avatar.url(:medium), :class => "user_image" %>
        <% else %>
            <%= gravatar_image_tag(current_user.profile.user.email.gsub('spam', 'mdeering'), :alt => current_user.profile.user.full_name, :class => "user_image") %>
        <% end %>
      </td>

      <td class="comment_info">
        <%= form_for(@commentNew, :remote => true) do |f| %>

            <%= f.text_area :content, :rows => 3, :class => "new_comment_text" %>

            <input id="comment_feedback_id" name="feedback_id" size="30" type="hidden" value="<%= @feedback.id %>"/>

            <div class="actions">
              <%= f.submit t('buttons.comment'), :class => "btn" %> &nbsp <%= t('buttons.or') %>
              <a href="#feedbacks" class="btn btn-link feedbacks-link" type="button" data-url="<%= project_feedbacks_path(@feedback.project) %>"><%= t('buttons.back') %></a>
            </div>
        <% end %>
      </td>

    </tr>

  </table>
</div>