<!-- page header -->
<div class="page_header">
  <h1><%= t('my_projects.tabs.show_feedback') %></h1>

  <!-- an administrator can always edit a feedback -->
  <% if current_user.admin? && !@feedback.project.finalized %>
      <div class="add_element">
        <button class="btn btn-link edit-feedback-link" data-url="<%= edit_feedback_path(@feedback) %>">
          <i class="icon-pencil icon-white"> </i> <%= t('my_projects.tabs.edit_feedback') %>
        </button>
      </div>
  <% end %>
</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="show-feedback-content">
  <div class="feedback_show">

    <h4 class="feedback_subject"><%= strip_tags(@feedback.subject) %></h4>

    <h6 class="feedback_date"><%= get_feedback_date @feedback %></h6>

    <pre class="feedback_content"><%= @feedback.content.html_safe %></pre>
    <hr class="feedback_division">

    <%= render template: "comments/index" %>
  </div>
</div>
<!--// page contents -->

