<div class="row seccion wide" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">


    <input class="TextField" id="feedback_project_id" name="project_id" size="30" type="hidden" value="<%= params[:Projectid] %>"/>

    <div class="seccion3 Separador">


      <h4 id="feedbackShow_Asunto"><%= truncate(strip_tags(@feedback.subject),:length => 45) %></h4>

      <h6 id="feedbackShow_fecha"><%= "Create by " + @feedback.user.full_name + " on   " + @feedback.created_at.strftime("   %A, %d %B, %Y,  %H:%M") %></h6>

      <h7 id="feesbackShow_Contenido"><%= @feedback.content %></h7>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      <h7 id="feesbackShow_AjustarContenido"><%= @feedback.content %></h7>






    </div>

    <hr>





  <div class="accordion" id="accordion2">
    <% cant = 1 %>
  <% @feedback.comments.each do |comment| %>
        <% cant = cant + 1 %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%=cant%>">
              <h9 id="feedbackShow_fechaComment"><%= "Create by " + comment.user.full_name + " at   " + comment.created_at.strftime("   %A, %d %B, %Y,  %H:%M") %></h9>
            </a>
          </div>
          <div id="collapse<%=cant%>" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="seccionComent">
                <%= image_tag("Skype.png", :alt => "Moove-It", :id => "feedbackShow_ImgAvatComment") %>
                <P>
                  <h7 id="feedbackShoe_contentComent"><%= comment.content %></h7>
                <P>
                <P>
                  <h9 id="feedbackShow_fechaComment"><%= "Create by " + comment.user.full_name + " at   " + comment.created_at.strftime("   %A, %d %B, %Y,  %H:%M") %></h9>
              </div>
            </div>
          </div>
        </div>

  <% end %>
  </div>

  <%= form_for(@commentNew) do |f| %>

      <div class="feedbackShow_sectionComment">
        <div class="field">
          <%= f.text_area :content, :id => "feedbackShow_TextAreaComment" %>
        </div>

        <input  id="comment_feedback_id" name="feedback_id" size="30" type="hidden" value="<%= @feedback.id %>"/>

        <div class="actions">
          <%= f.submit :class => "btn margin1 top1" %> or
          <a href="#feedbacks" class="btn btn-link feedbacks-link" type="button" data-url="<%=  project_feedbacks_path(@feedback.project) %>">Back</a>
        </div>

      </div>
  <% end %>


</div>



