<div class="row seccion wide" style="margin: auto;" xmlns="http://www.w3.org/1999/html" >
    <div id="myTabContent" class="Data">
      <div class="page_header" style="border-bottom: solid; background: #ffffbc;border-bottom-width: 0.8px;border-bottom-color: #c8d0e2;">
        <h1>Feedback</h1>
      </div>

      <input class="TextField" id="feedback_project_id" name="project_id" size="30" type="hidden" value="<%= params[:Projectid] %>" />
      <div class="seccion3" >



          <h4 class="show_Asunto2"><%= truncate(strip_tags( @feedback.subject),
                                               :length => 45) %></h4>

          <h6 class="fechaFeedback2" >03/09/2012</h6>
          <h7 class="Contenido2"><%= @feedback.content %></h7>


      </div>

      <br></br>




</div>

  <div class="Separador" >

  </div>

</div>





<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
