<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @feedback.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @feedback.content %>
</p>

<p>
  <b>Feedback type:</b>
  <%= FeedbackType.find(@feedback.feedback_type_id).name %>
</p>

<p>
  <b>Project:</b>
  <%= @feedback.project %>
</p>




<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
