<div class="forms_filter">
  <h5>
    <%= t('form.name_filter') %>
    &nbsp;
    <%= text_field_tag "form_name_filter" %>
    &nbsp;
    <%= button_tag( t('buttons.filter'), :id => "form_filter_btn", :class => "btn") %>
  </h5>
</div>

<hr/>

<div class='forms_index'>
  <table class='forms_table'>
    <% @forms.each do |form| %>
        <tr id='form_row_<%= form[:id] %>'>
          <h4>
            <a href="#show-form" class="show-form-link" data-url="<%= forms_show_path(form[:id]) %>"><%= form[:name] %></a>
          </h4>
          <%= t('form.last_total_answers') + form[:actual_total_answers].to_s %>
          <br/>
          <br/>
        </tr>
    <% end %>
  </table>
</div>
