<!-- page header -->
<div class="page_header_wrapper">
  <div class="page_header">
    <h1><%= t('admin.tabs.show_form') %></h1>
    <div class="add_element">
      <%= form_tag(form_path, :method => "post", :remote => true, :id => "delete_form") do %>
          <input name="_method" type="hidden" value="delete">
          <button class="btn btn-link delete-btn" type="submit" >
            <i class="icon-minus icon-white"> </i> <%= t('form.delete_form')%>
          </button>
      <% end %>
    </div>
  </div>
</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="show-form-content">



  <div class="show-form-name" style="display: inline-block;" ><%= @form_data[:name] %>
      <div id="loading-gif-2" style="display: inline-block;">
        <%= image_tag("ajax-loader.gif") %>
      </div>
  </div>
  <br/>
  <br/>
  <%= t('form.clients') %>
  &nbsp;
  <%= select_tag "form_client", options_for_select(@form_data[:clients].map {|c| [c,c]}), :prompt => t('form.select'), "data-url" => forms_show_data_path(@form) %>

  <div id="form_client_data" > </div>

  <br/>
  <%= button_tag t('form.full_data'), :class => "btn", :id => "btn_full_data", "data-url" => forms_show_full_data_path(@form) %>
  <br/>
  <br/>

  <div id="form_client_full_data"> </div>

</div>
<!--// page contents -->