<!-- page header -->
<div class="summary_page_header">
  <h1 class="title"><%= t('admin.tabs.summary') %></h1>
  <ul class="nav nav-tabs summary_page_tab_nav">
    <li class="active"><a href="#summary_tab1" data-toggle="tab"><%= t('activity.recent_activity') %></a></li>
    <li><a href="#summary_tab2" data-toggle="tab"><%= t('activity.site_searcher') %></a></li>
  </ul>
</div>
<!--// page header -->

<!-- page contents -->
<div class="page_content" id="summary-content">
  <div class="tab-content">

    <div class="tab-pane active" id="summary_tab1">
      <%= render 'activities/activities', :locals => { :recent => true }  %>
    </div>

    <div class="tab-pane" id="summary_tab2">
      <%= form_tag(activities_filter_path, :method => "get", :remote => true) do %>
          <div class="activities_filter form-inline">
            <h5 class="filter_element"><%= t('activity.enter_query') %></h5>
            &nbsp;
            <%= text_field_tag("activities_filter_text") %>
            &nbsp;
            <%= button_tag(t('buttons.find'), :class => "btn activities_filter_element") %>
          </div>
      <% end %>
      <hr class="hr_filter">

      <div id="activities_search_result">

      </div>
    </div>

  </div>
</div>
<!--// page contents -->