<table class="activities_table">
  <% @activities.each do |activity| %>
      <tr id="row_activity">

        <td class="avatar">
          <%= link_to activity.link do %>
              <%= image_tag(activity.image_path, :class => 'activity_image img-rounded') %>
          <% end %>
        </td>

        <td class="activity_info">
          <h4 class="activity_action">
            <%= link_to activity.link do %>
                <%= truncate(strip_tags(activity.action), :length => 45) %>
            <% end %>
          </h4>
          <h6 class="activity_date"><%= t('activity.authored_by')+" " + activity.author + " "+t('activity.date_time')+"   "+t("date."+"#{activity.date_time.strftime("%A")}")+ activity.date_time.strftime(" %d ")+ t("date."+"#{activity.date_time.strftime("%B")}") + activity.date_time.strftime(" %Y") + activity.date_time.strftime((" ,  %H:%M")) %></h6>
          <pre class="activity_content"><%= truncate(strip_tags(activity.content), :length => 180) %></pre>
        </td>

      </tr>
  <% end %>
</table>









