<!DOCTYPE html>
<html>
<head>
  <title>CSM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">CSM</a>
            <div class="nav">
                <ul class="nav">
                    <li>
                        <a href="home#index"><i class="icon-home icon-white"></i> Home</a>
                    </li>
                  <% if user_signed_in? %>
                  <% if current_user.role_id == 1 %>
                    <li>
                        <a href="admin#index"><i class="icon-wrench icon-white"></i> Admin</a>
                    </li>
                  <% else %>
                      <li>
                        <a href="#"><i class="icon-wrench icon-white"></i> My Projects</a>
                      </li>
                      <% end %>
                  <% end %>
                </ul>
            </div><!-- /.nav -->
            <div class="nav pull-right">
                <% if user_signed_in? %>
                    <ul class="nav">
                        <li>
                          <a href="#"><%= current_user.full_name %></a>
                        </li>
                        <li>
                          <%= link_to '<i class="icon-off icon-white"></i> Sign out'.html_safe, destroy_user_session_path, :method => :delete %>
                        </li>
                    </ul>
                <% else %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-user icon-white"></i>
                      Sign in
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu inverse">
                      <li>
                        <%= link_to 'Customers'.html_safe, new_user_session_path %>
                      </li>
                      <li>
                        <%= link_to 'Moove-it'.html_safe, user_omniauth_authorize_path(:google) %>
                      </li>
                    </ul>
                  </li>
                <% end %>
            </div>
        </div><!-- /.container -->
    </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
